/node_modules
/public/hot
/public/storage
/public/fiken-invoice
/public/files
/public/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.htaccess
.env-live
.env-local
service-worker.js
node_modules
