.free-webinar-container {
    margin-bottom: 30px;
}

.free-webinar-container .custom-column {
    width: 83.33333333%;
    margin-left: 8.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.free-webinar-container  .left-container {
    background-color: #f5eced;
}

.free-webinar-container  .left-container > .presents {
    margin-top: 20px;
}

.free-webinar-container  .left-container > .presents .circle {
    background: #e2e1e1;
    border-radius: 50%;
    color: #cd172d;
    font-family: "Lato Black";
    font-size: 17px;
    height: 130px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
}

.free-webinar-container  .left-container > .presents .circle > .text-container {
    margin: 13px 0 0 17px;
}

.free-webinar-container  .left-container > .presents .circle > .text-container h1 {
    font-size: 57px;
    margin-top: -15px;
}

.free-webinar-container  .left-container .schedule {
    font-family: "LatoWebLight";
    margin-top: 16px;
}

.free-webinar-container  .left-container .schedule > .day {
    font-size: 30px;
}

.free-webinar-container  .left-container .schedule > .time {
    font-size: 20px;
}

.free-webinar-container .left-container > .divider {
    height: 2px;
    background-color: #cd172d;
    margin: 20px 0 20px 0;
}

.free-webinar-container .left-container > .presenters img{
    height: 200px;
    width: 167px;
}

.free-webinar-container .left-container > .presenters .presenter-container {
    font-family: "Lato Black";
    font-size: 14px;
}

.free-webinar-container .left-container > .presenters .presenter-container > .presenter-name {
    color: #cd172d;
    margin-top: 10px;
    text-align: center;
}

.free-webinar-container .right-container > .jumbotron {
    background-color: #cd172d;
    border-radius: 0;
    color:#fff;
    letter-spacing: 1px;
    padding: 35px 37px;
    text-align: center;
}

.free-webinar-container .right-container > .jumbotron .header {
    font-family: "Lato Black";
    font-size: 25px;
    text-transform: uppercase;
}


.leadstyle-countdown {
    display: inline-block;
}

#countdown {
    list-style: none;
    margin-top: -15px;
    padding-left: 0;
}

.email-container {
    padding-right: 0;
}

.free-webinar-container .right-container ul#countdown li {
    display: inline;
    font-family: "BebasNeue Bold";
    font-size: 83px;
    margin-right: 8px;
}

.free-webinar-container .right-container > .jumbotron .description {
    font-family: "Lato Light";
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.free-webinar-container .right-container .reserve-text {
    font-family: "Lato Black";
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.free-webinar-container .right-container .btn-submit {
    background-color: #cd172d;
    color: #fff;
    font-family: "Lato Black";
    font-size: 14px;
    width: 100%;
}

/* media queries */
@media only screen and (max-width: 1024px) {
    .free-webinar-container .custom-column {
        width: 100%;
        margin-left: 0;
    }

    .free-webinar-container .right-container {
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .free-webinar-container .left-container > .presents .circle {
        font-size: 15px;
        height: 110px;
        padding-right: 0;
        width: 110px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container {
        margin: 6px 0 0 2px;
    }

    .free-webinar-container .left-container .schedule > .day {
        font-size: 23px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container h1 {
        font-size: 50px;
    }

    .free-webinar-container .left-container > .presenters img {
        height: 160px;
        width: 120px;
    }

    .free-webinar-container .right-container > .jumbotron {
        padding: 25px;
    }

    .free-webinar-container .right-container > .jumbotron .header {
        font-size: 23px;
    }

    .free-webinar-container .right-container > .jumbotron .description {
        margin-bottom: 0;
    }

    .free-webinar-container .right-container ul#countdown li {
        font-size: 60px;
    }

    .free-webinar-container .right-container .reserve-text {
        font-size: 23px;
    }
}

@media only screen and (max-width: 640px) {
    .free-webinar-container .left-container > .presents .circle {
        font-size: 20px;
        height: 150px;
        width: 150px;
    }

    .free-webinar-container .left-container > .presents {
        margin-top: 0;
        padding-top: 20px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container {
        margin: 20px 0 0 2px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container h1 {
        font-size: 57px;
    }

    .free-webinar-container .left-container .schedule > .day {
        font-size: 33px;
    }

    .free-webinar-container .left-container .schedule > .time {
        font-size: 25px;
    }

    .free-webinar-container .left-container > .presenters .presenter-container {
        text-align: center;
        padding-bottom: 20px;
    }

    .free-webinar-container .left-container > .presenters img {
        height: 200px;
        width: 167px;
    }

    .free-webinar-container .right-container {
        padding-left: 0;
    }

    .email-container {
        padding-right: 15px;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .free-webinar-container .right-container .form-group .col-sm-6 {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 415px) {
    .free-webinar-container .left-container > .presents .circle {
        font-size: 18px;
        height: 130px;
        margin-left: 118px;
        width: 130px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container {
        margin: 15px 0 0 2px;
    }

    .free-webinar-container .left-container .schedule {
        text-align: center;
        width: 100%;
    }

    .free-webinar-container .left-container .schedule > .day {
        font-size: 30px;
    }

    .free-webinar-container .left-container > .presenters img {
        height: 160px;
        width: 150px;
    }

    .free-webinar-container .right-container > .jumbotron .header {
        font-size: 22px;
    }

    #countdown {
        margin-bottom: 0;
    }

    .free-webinar-container .right-container ul#countdown li {
        font-size: 58px;
    }

    .free-webinar-container .right-container > .jumbotron .description {
        font-size: 16px;
    }
}

@media only screen and (max-width: 375px) {
    .free-webinar-container .left-container > .presents .circle {
        font-size: 15px;
        height: 110px;
        margin-left: 108px;
        width: 110px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container {
        margin: 4px 0 0 2px;
    }

    .free-webinar-container .left-container > .presents .circle > .text-container h1 {
        font-size: 50px;
    }

    .free-webinar-container .left-container .schedule > .day {
        font-size: 25px;
    }

    .free-webinar-container .left-container .schedule > .time {
        font-size: 22px;
    }

    .free-webinar-container .right-container > .jumbotron .header {
        font-size: 19px;
    }

    .free-webinar-container .right-container ul#countdown li {
        font-size: 50px;
    }

    .free-webinar-container .right-container .reserve-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .free-webinar-container .left-container > .presents .circle {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 320px) {
    .free-webinar-container .left-container > .presents .circle {
        margin-left: 80px;
    }

    .free-webinar-container .right-container > .jumbotron .header {
        font-size: 16px;
    }

    .free-webinar-container .right-container ul#countdown li {
        font-size: 42px;
    }

    #countdown {
        margin-top: -10px;
    }
}