/* free webinar page */

.free-webinar-page .small-container {
    box-shadow: 1px 1px 14.72px 1.28px rgba(204, 204, 204, 0.37);
    transform: translateY(-245px);
}

.free-webinar-page .header {
   /* background: linear-gradient(rgba(58, 58, 58, .52), rgba(58, 58, 58, .52)),
    url(../images-new/free-webinar-header.jpg) no-repeat 0 -300px / cover;*/
    background-repeat: no-repeat;
    background-position: 0 -300px;
    background-size: cover;
    color: #fff;
    height: 500px;
    padding-top: 150px;
    position:relative;
}

.free-webinar-page .header::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(58, 58, 58, .52), rgba(58, 58, 58, .52));
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.free-webinar-page .header h1 {
    font-size: 40px;
    position:relative;
}

.free-webinar-page .countdown-container {
    background-color: #862736;
    color: #fff;
    padding: 20px;
}

.free-webinar-page .countdown-container #countdown {
    list-style: none;
    margin-bottom: 0;
    margin-top: -10px;
    padding: 0;
}

.free-webinar-page .countdown-container .leadstyle-countdown {
    display: inline-block;
}

.free-webinar-page .countdown-container ul#countdown li {
    display: inline;
    font-size: 45px;
    margin-right: 8px;
}

.free-webinar-page .countdown-container ul#countdown li span {
    font-family: "Barlow Bold", sans serif;
}

.free-webinar-page .schedule-container {
    background-color: #e83a47;
    color: #fff;
    padding: 35px;
}

.free-webinar-page .schedule-container .date-container {
    margin-bottom: 35px;
}

.free-webinar-page .schedule-container h1 {
    font-family: "Barlow SemiBold", sans serif;
    font-size: 45px;
    letter-spacing: 2px;
}

.free-webinar-page .schedule-container h2 {
    display: inline-block;
    font-family: "Barlow Medium", sans serif;
}

.free-webinar-page .schedule-container h2:first-child {
    margin-right: 60px;
}

.free-webinar-page .schedule-container h2 i {
    background-size: cover;
    position: absolute;
    transform: translate(-25px,5px);
    height: 16px;
    width: 16px;
}

.free-webinar-page .schedule-container h2 .calendar {
    background-image: url(../images-new/icon/calendar-white.png);
}

.free-webinar-page .schedule-container h2 .clock {
    background-image: url(../images-new/icon/clock-white.png);
}

.free-webinar-page .presenters .presenter-container {
    display: inline-block;
}

.free-webinar-page .presenters .presenter-circle {
    background-color: #fff;
    height: 160px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: -45px auto 0 auto;
    width: 160px;
}

.free-webinar-page .presenters .presenter-container {
    margin-right: 20px;
}

.free-webinar-page .presenters .presenter-container:last-child {
    margin-right: 0;
}

.free-webinar-page .presenters .presenter-circle img {
    height: 85%;
    margin-top: 9px;
    width: 85%;
}

.free-webinar-page .presenters .presenter-name {
    font-family: "Barlow Medium", sans serif;
}

.free-webinar-page .details {
    padding: 30px 80px;
}

.free-webinar-page .details p {
    font-family: "Montserrat Regular", sans serif;
    line-height: 30px;
}

.free-webinar-page .form-container {
    padding: 0 80px;
}

.free-webinar-page .form-container .at-icon:after {
    width: 20px;
    height: 20px;
}

.free-webinar-page .form-container .input-group,
.free-webinar-page .form-container .site-btn-global {
    margin-bottom: 20px;
}

.free-webinar-page .form-container .input-group .input-group-text {
    padding: 12px 25px;
}

.free-webinar-page .form-container .form-control {
    font-size: 18px;
    padding: 0 21px;
    height: 46px;
}

.free-webinar-page .form-container .form-control::placeholder {
    color: #5b5b5b !important;
}

/* end free webinar page */

@media (min-width: 1200px) {
    .small-container {
        max-width: 820px;
    }
}

@media only screen and (max-width: 1024px) {
    .free-webinar-page .header {
        -ms-background-position-y: -183px;
        background-position-y: -183px;
    }

    .free-webinar-page .small-container {
        transform: translateY(-220px);
    }
}

@media only screen and (max-width: 768px) {
    .free-webinar-page .header {
        height: 329px;
        padding-top: 80px;
    }

    .free-webinar-page .small-container {
        transform: translateY(-150px);
    }
}

@media only screen and (max-width: 640px) {
    .free-webinar-page .header {
        -ms-background-position-y: -114px;
        background-position-y: -114px;
        height: 313px;
        padding-top: 70px;
    }

    .free-webinar-page .header h1,
    .free-webinar-page .countdown-container ul#countdown li,
    .free-webinar-page .schedule-container h1 {
        font-size: 35px;
    }

    .free-webinar-page .schedule-container {
        padding: 25px;
    }

    .free-webinar-page .presenters .presenter-circle {
        height: 120px;
        width: 120px;
    }

    .free-webinar-page .presenters .presenter-container {
        margin-right: 25px;
    }

    .free-webinar-page .details {
        padding: 30px;
    }

    .free-webinar-page .form-container {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 415px) {
    .free-webinar-page .header {
        height: 162px;
        padding-top: 50px;
    }

    .free-webinar-page .small-container {
        transform: translateY(-35px);
    }

    .free-webinar-page .header h1,
    .free-webinar-page .countdown-container ul#countdown li,
    .free-webinar-page .schedule-container h1 {
        font-size: 28px;
    }

    .free-webinar-page .schedule-container h2:first-child {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 375px) {
    .free-webinar-page .header {
        background-position-y: -60px;
    }

    .free-webinar-page .presenters .presenter-circle {
        margin: -35px auto 0 auto;
    }
}

@media only screen and (max-width: 360px) {
    .free-webinar-page .small-container {
        transform: translateY(-25px);
    }

    .free-webinar-page .schedule-container h2 {
        display: block;
    }

    .free-webinar-page .schedule-container h2:first-child {
        margin-right: 0;
    }

    .free-webinar-page .details {
        padding: 20px;
    }

    .free-webinar-page .form-container {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 320px) {
    .free-webinar-page .header h1,
    .free-webinar-page .countdown-container ul#countdown li,
    .free-webinar-page .schedule-container h1 {
        font-size: 2.5rem;
    }
}