@font-face{
    font-family: 'Barlow Light';
    src: url('../fonts/Barlow/Barlow-Light.ttf');
    font-display: block;
}

@font-face{
    font-family: 'Barlow Regular';
    src: url('../fonts/Barlow/Barlow-Regular.ttf');
    font-display: block;
}

@font-face{
    font-family: 'Barlow Bold';
    src: url('../fonts/Barlow/Barlow-Bold.ttf');
    font-display: block;
}

@font-face{
    font-family: 'Barlow Medium';
    src: url('../fonts/Barlow/Barlow-Medium.ttf');
    font-display: block;
}

@font-face{
    font-family: 'Barlow ExtraLight';
    src: url('../fonts/Barlow/Barlow-ExtraLight.ttf');
    font-display: block;
}

*, .modal a {
    font-family: 'Barlow Light', sans serif;
    font-size: 15px;
}

.fa {
    color: #852635;
}

.h3, h3 {
    font-weight: 600;
}

.close {
    font-size: 2rem;
}

.btn-theme {
    background-color: #e83945;
    color: #fff!important;
}

.nav-user-thumb {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
}

.navbar {
    padding: .5rem 12rem;
    margin-bottom: 0;
}

.navbar-light {
    font-family: "Barlow Regular", sans serif;
    font-size: 16px;
    padding: 3rem 12rem;
}

.navbar-default {
    border-left: none;
    border-right: none;
    border-radius: 0;
    font-family: "Barlow Regular", sans serif;
}

.navbar-default .navbar-nav, .navbar-inverse .nav-fill {
    width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #fff;
    color: #862736;
    font-family: "Barlow Bold", san serif;
}

.navbar-brand img {
    height: 70px;
}

.navbar-toggler img {
    height: 25px;
}

.social-image {
    height: 16px !important;
    width: 16px !important;
}

.navbar-nav .divider-container {
    padding-left: 1rem;
    padding-right: .5rem;
}

.nav-item .divider {
    border-left: 1px solid #ccc;
    height: 20px;
    padding: 0;
    transform: translate(0, 18px);
}

.login-nav {
    padding-right: 15px;
}

.nav-item .login-link {
    padding-top: 19px
}

.nav-item .login-link > span {
    background-color: #e83a47;
    border-radius: 5px;
    color:#fff !important;
    padding: 1px 15px;
}

/**
start today section
 */

.start-today {
    background-image: url(../images/girl-reading.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5dedb;
    height: 510px;
    padding: 92px 10px;
}
.start-today h5 {
    display: inline-block;
    font-family: "Barlow Light", sans serif;
    width: 75%;
    max-width: 100%;
    margin:0;
    line-height: 36px;
    font-size: 32px;
}

.start-today a {
    background-color: #852736;
    border-radius: 5px !important;
    font-family: "Barlow Medium", sans serif;
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
    padding: 6px 20px;
    text-transform: none;
}

.start-today a:hover {
    background-color: #6b1220;
    color: #fff;
}

/* for logged in user sidebar*/

.account-container{
    background-color: #252525;
}

.sub-menu {
    padding: 0;
}

.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu li a {
    box-sizing: border-box;
    color: #fff;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.sub-menu li.active, .sub-menu li a:hover {
    background-color: #000;
}

.sub-right-content {
    background-color: #f0f3f4;
    min-height: 506px!important;
    padding: 12px 0;
}

/* end for logged in user sidebar*/

.manuscript-page .main-container {
    padding: 80px 15px 150px 15px;
}

.manuscript-page .top-page-container {
    box-shadow: 0 0 22.08px 1.92px rgba(204, 204, 204, 0.3);
    padding: 10px;
}

.manuscript-page .top-page-container iframe {
    height: 550px;
    width: 100%;
}

.manuscript-page .second-section {
    background-image: url(../images-new/coffee-book.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #ecf0f4;
    height: 460px;
}

.manuscript-page .second-section .details {
    background-color: #fff;
    box-shadow: 0 0 14.72px 1.28px rgba(204, 204, 204, 0.37);
    padding: 40px 60px;
    transform: translate(0, -19%);
}

.manuscript-page .second-section .title {
    font-family: "Barlow Light", sans serif;
    font-size: 42px;
}

.manuscript-page .second-section p {
    font-size: 17px;
}

.manuscript-page .third-section {
    background-image: url(../images-new/notebook-pen.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-color: #eeeeeb;
    background-position-x: 20%;
    background-position-y: 50px;
    height: 600px;
}

.manuscript-page .third-section .details {
    padding: 80px 15px;
}

.manuscript-page .third-section .title {
    font-size: 26px;
}

.manuscript-page .third-section .instruction {
    font-size: 20px;
    font-weight: normal;
}

.manuscript-page .third-section .note {
    font-style: italic;
    font-weight: normal;
}

.manuscript-page .form-control {
    font-size: 1.5rem;
    height: calc(4.25rem + 2px);
}

.manuscript-page .fourth-section {
    background-color: #f9f8f8;
    height: 540px;
}

.manuscript-page .carousel {
    transform: translate(0, -90px);
}

.manuscript-page .carousel-indicators li{
    background-color:red;
}
.manuscript-page .carousel-indicators {
    transform: translate(0, 50px);
}
.manuscript-page .carousel-control-prev-icon {
    background-image: url(../images-new/left-arrow-circle.png);
}

.manuscript-page .carousel-control-next-icon {
    background-image: url(../images-new/right-arrow-circle.png);
}

.manuscript-page .carousel-control-prev-icon,
.manuscript-page .carousel-control-next-icon {
    height: 70px;
    width: 70px;
}

.manuscript-page .carousel-control-next, .manuscript-page .carousel-control-prev {
    opacity: 1;
}

.manuscript-page .carousel-control-next:focus, .manuscript-page .carousel-control-next:hover,
.manuscript-page .carousel-control-prev:focus, .manuscript-page .carousel-control-prev:hover {
    opacity: .5;
}

.manuscript-page .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.manuscript-page .carousel .col-md-3{
    display: inline-block;
    margin-left:-4px;
    padding-left: 10px;
    padding-right: 10px;
}

.manuscript-page .carousel .col-md-3 .panel-default {
    border-color: transparent;
    box-shadow: 1px 1px 5px #c3c3c3;
    border-radius: 0;
}

.manuscript-page .carousel .col-md-3 .panel-default .overlay {
    background-color: #383838;
    height: 96%;
    width: 93%;
    position: absolute;
    display: none;
}

.manuscript-page .carousel .col-md-3 .panel-default:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 83%;
    opacity: 0.05;
    background-image: url(../images-new/open-book.png);
    background-repeat: no-repeat;
    background-size: 80% 50%;
    background-position: center;
    -ms-background-size: 80% 50%;
    -o-background-size: 80% 50%;
    -moz-background-size: 80% 50%;
    -webkit-background-size: 80% 50%;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover {
    background-image: url(../images-new/manuscript-hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover .overlay {
    display: block;
    opacity: .85;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover .panel-body {
    color: #fff;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover .circle {
    border: 2px solid #fff;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover .buy-btn {
    border: 1px solid #fff;
    color: #fff;
}

.manuscript-page .carousel .col-md-3 .panel-default:hover .buy-btn:after {
    background-image: url(../images-new/left-arrow.png);
}

.manuscript-page .circle {
    background-color:transparent;
    border:2px solid #964653;
    height:200px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin: 0 auto;
    position: relative;
    width:200px;
}

.manuscript-page .circle-white {
    background-color:#fff;
    box-shadow: 1px 1px 5px #c3c3c3;
    height:150px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin: 12%;
    padding-top: 22%;
    text-align: center;
    width:150px;
}

.manuscript-page .circle-white h2 {
    color: #964653;
}

.manuscript-page .circle-white .word-count {
    color: #000;
    font-size: 30px;
}

.manuscript-page .carousel .col-md-3 .panel-body {
    font-size: 14px;
    text-align: center;
    position: relative;
}

.manuscript-page .carousel .col-md-3 .panel-body h1 {
    font-family: "Barlow Regular", sans serif;
    font-size: 24px;
    margin: 20px 0;
}

.manuscript-page .carousel .col-md-3 .panel-body .price {
    color: #f8505c;
    font-family: "Barlow Bold", sans serif;
    font-weight: bolder;
    margin-bottom: 3rem!important;
}

.manuscript-page .carousel-control-prev {
    left: -130px;
}
.manuscript-page .carousel-control-next {
    right: -110px;
}

.manuscript-page .carousel-indicators li {
    background-color: #989898;
    border: none;
    width: 80px;
}

.manuscript-page .carousel-indicators .active {
    background-color: #852635;
    height: 3px;
    margin: 1px;
    width: 80px;
}

.buy-btn {
    background-color: transparent;
    border: 1px solid #9d515d;

    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;

    color: #9d515d;
    font-family: "Barlow Regular",sans serif;
    font-size: 17px;
    padding: 10px 60px;

    margin-bottom: 1.5rem!important;
}

.buy-btn:after {
    content: "";
    display: block;
    background-image: url(../images-new/left-arrow-red.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 20px;
    height: 20px;
    float: right;
    margin: 3px 0 0 15px;
}

.manuscript-page .last-section {
    background-image: url(../images-new/manu-books.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.manuscript-page .other-services-container {
    padding: 60px 0;
}

.manuscript-page .box-white {
    border: 1px solid #f9f8f8;
    color: #fff;
    padding: 30px 20px;
}

.manuscript-page .box-white:not(:last-child) {
    margin-bottom: 50px;
}

.manuscript-page .box-white img {
    height: 80px;
}

.manuscript-page .box-white h1 {
    font-size: 40px;
    color: #fff
}

.manuscript-page .box-white a:hover {
    text-decoration: none;
}

.link-with-arrow {
    color:#f9f8f8;
    font-size: 18px;
    display: inline-block;
}

.link-with-arrow:hover {
    color:#fff;
}

.link-with-arrow:after {
    content: "";
    display: block;
    background-image: url(../images-new/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 15px;
    height: 15px;
    float: right;
    margin: 7px 0 0 20px;
}

/* manuscript page editors modal */

#editorsModal .modal-lg {
    max-width: 80%;
}

#editorsModal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#editorsModal .modal-header {
    border-bottom: none;
    padding: 20px 10px 30px 0;
}

#editorsModal .modal-header .close {
    background-color: #fff;
    color: #7b1d2c;
    font-size: 25px;
    font-weight: bolder;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    opacity: 1;
    padding: 0;
    text-align: center;
    width: 40px;
}

#editorsModal .modal-body {
    background-color: #fff;
    padding: 50px 30px;
}


#editorsModal .modal-body .card {
    border: none;
    box-shadow: 1px 1px 4.6px 0.4px rgba(195, 195, 195, 0.62);
    margin-bottom: 40px;
}

#editorsModal .modal-body .card-container {
    padding-left: 15px;
    padding-right: 15px;
}

#editorsModal .modal-body .card-header {
    background-image: url(../images-new/editors-bg/red.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

#editorsModal .modal-body .editor-circle {
    background-color:#fff;
    box-shadow: 1px 1px 5px #c3c3c3;
    height:120px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin: -75px auto 0 auto;
    text-align: center;
    width:120px;
}

#editorsModal .modal-body .editor-circle img {
    height: 85%;
    margin-top: 9px;
    width: 85%;
}

#editorsModal .modal-body .editor-name {
    color: #852635;
    font-family: "Barlow Regular", sans serif;
    font-size: 16px;
}

#editorsModal .modal-body p {
    margin: 20px 15px 10px 15px;
}
/* end manuscript page editors modal */

/* publishing page */

.publishing-page {
    background-color: #eff0f7;
    background-image: url(../images-new/publishing-bg.jpg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -20px;
    padding: 50px 0;
}

.publishing-page .grid-item {
    margin-bottom: 30px;
}

.publishing-page .col-sm-6 {
    padding-left: 20px;
    padding-right: 20px;
}

.publishing-page .page-title {
    font-size: 39px;
}

.publishing-page .page-description {
    font-size: 17px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.publishing-page .book-authors-container {
    height: 1000px;
    overflow: hidden;
}

.publishing-page .card {
    border: none;
}

.publishing-page .card .card-body {
    padding: 40px 10px 10px 10px;
}

.publishing-page .card .left-container {
    float: left;
    transform: translate(-10px);
    width: 20%;
}

.publishing-page .card .left-container img {
    border: 4px solid #fff;
    margin-bottom: 20px;
}

.publishing-page .card .right-container {
    float: right;
    padding-left: 15px;
    padding-right: 30px;
    width: 79%;
}

.publishing-page .card .right-container .book-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.publishing-page .card .right-container .book-description {
    line-height: 25px;
    margin-bottom: 20px;
}

.publishing-page .card .right-container .book-quote {
    color: #aeaeae;
}

.publishing-page .card .right-container .book-quote  em {
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
}

.publishing-page .left-quote:before {
    content: " ";
    display: block;
    background-image: url(../images-new/two-quotes.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 60px;
    width: 30px;
    height: 30px;
}

/* end publishing page */

/* blog page */

.blog-page {
    background-image: url(../images-new/blog-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 220px;
}

.blog-page .main-container {
    padding: 80px 15px 50px 15px;
}

.blog-page .top-page-container {
    box-shadow: 0 0 20px 1px #ccc;
    padding: 10px;
}

.blog-page .top-page-container img {
    height: 550px;
    width: 100%;
}

.blog-page .main-blog {
    height: 560px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blog-page .main-blog .details {
    background-color: #fff;
    left: 9%;
    padding: 40px;
    position: absolute;
    top: 14%;
    width: 480px;
}

.blog-page .main-blog .details .title {
    font-size: 30px;
}

.blog-page .main-blog .details .buy-btn {
    margin-bottom: 0 !important;
}

.blog-page .blog-container .pagination {
    display: inline-block;
    width: 100%;
}

.blog-page .blog-container .pagination li * {
    background-color: #852635;
    border-radius: 0;
    color: #fff;
}

.blog-page .blog-container .pagination li.disabled * {
    background-color: #8e5961;
}

.blog-page .blog-container .pagination li a:hover {
    color: #eadadc;
    background-color: #611c27;
}

.blog-page .blog-container .pagination li:first-child *:after {
    content: '';
    display: block;
    background-image: url(../images-new/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 16px;
    margin: 3px 10px 0 0;
    width: 16px;
}

.blog-page .blog-container .pagination li:last-child {
    float: right;
    margin-right: 15px;
}

.blog-page .blog-container .pagination li:last-child *:after {
    content: '';
    display: block;
    background-image: url(../images-new/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
    height: 16px;
    margin: 3px 0 0 10px;
    width: 16px;
}

.blog-page .blog-column {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 15px;
}

.blog-page .blog-column img, .blog-page .sidebar img {
    height: 240px; /*228px*/
    object-fit: cover;
    width: 100%;
}

.blog-page .blog-column .details {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #d2d2d2;
    min-height: 350px;
    padding: 30px;
}

.blog-page .blog-column .details .img-icon:before {
    height: 16px;
    width: 16px;
}

.blog-page .blog-column .details .title {
    font-size: 20px;
}

.blog-page .blog-column .details .description {
    font-size: 15px;
    text-align: justify;
}

.blog-page .blog-column .details .button-container {
    bottom: 7%;
    position: absolute;
    width: 100%;
}

.blog-page .blog-column .details .button-container .buy-btn {
    font-size: 15px;
    margin-bottom: 0 !important;
    padding: 3px 30px;
}

.blog-page .blog-column .details .button-container .buy-btn:after {
    width: 15px;
    height: 15px;
    margin: 4px 0 0 15px;
}

.blog-page .blog-column .details .button-container .social-container {
    margin-left: 105px;
}

.blog-page .sidebar .card {
    border: none;
    box-shadow: 1px 1px 5px 1px #d2d2d2;
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

.blog-page .sidebar .course-container .card {
    padding: 20px 30px 15px 30px;
}

.blog-page .sidebar .site-btn-global-w-arrow {
    border-radius: 0;
    font-size: 15px;
    padding: 3px 10px;
    transform: translate(0, -3px);
}

.blog-page .sidebar .site-btn-global-w-arrow:after {
    width: 16px;
    height: 16px;
    margin: 4px 3px 0 15px;
}

.blog-page .sidebar * {
    font-family: "Barlow Regular", sans serif;
    font-size: 17px;
}
.blog-page .sidebar .card .header {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 30px;
}

.blog-page .sidebar .card .header .buy-btn {
    border: none;
    border-radius: 0;
    color: #852635;
    margin-bottom: 0 !important;
    padding: 0;
    text-align: left;
    width: 100%;
}

.blog-page .sidebar .card .header .buy-btn:after {
    height: 16px;
    margin: 5px 0 0 15px;
    width: 16px;
}

.blog-page .sidebar .poem-container .card-body{
    padding: 30px 40px;
}

.blog-page .sidebar .testimonial-container .container {
    padding: 0;
}

.blog-page .sidebar .poem-container .card-body p, .blog-page .sidebar .testimonial-container .card-body p {
    margin-bottom: 30px;
}

.blog-page .sidebar .poem-container .card-body small, .blog-page .sidebar .testimonial-container .card-body small {
    font-size: 13px;
}

.blog-page .sidebar .testimonial-container .card-body {
    padding: 20px 40px 50px 40px;
}

.blog-page .carousel-indicators {
    transform: translate(10%, 50px);
}

.blog-page .carousel-indicators li {
    background-color: #989898;
    border: none;
    width: 30px;
}

.blog-page .carousel-indicators li.active {
    background-color: #852635;
    height: 3px;
    margin: 1px;
    width: 30px;
}

.blog-page .carousel-item:before {
    content: " ";
    display: block;
    background-image: url(../images-new/square-quote.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 20px auto;
    width: 30px;
    height: 30px;
}

.blog-page .sidebar .workshop-container .card-body {
    padding: 19px 30px;
}

.blog-page .sidebar .workshop-container .card-body ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.blog-page .sidebar .workshop-container .card-body li {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.blog-page .sidebar .workshop-container .card-body li:first-child {
    padding-top: 0;
}

.blog-page .sidebar .workshop-container .card-body li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.blog-page .sidebar .workshop-container .card-body li a {
    color: #212529;
}

.blog-page .sidebar .workshop-container .card-body li span {
    font-size: 15px;
}

  .img-icon:before {
    content: "";
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    transform: translate(0,3px);
    width: 20px;
    margin-right: 5px;
}

.color-b4 {
    color: #b4b4b4;
}

.blog-page .main-blog .details .calendar:before, .blog-page .blog-column .details .calendar:before {
    background-image: url(../images-new/icon/calendar.png);
}

.blog-page .main-blog .details .author-image:before, .blog-page .blog-column .details .author-image:before {
    background-image: url(../images-new/icon/author.png);
}

.blog-page .main-blog .details .description {
    font-size: 18px;
    margin-bottom: 20px;
}

/* end blog page */

/* thank you page */

.thank-you-page {
    background-image: url(../images-new/thankyou-bg.png);
    background-size: 100% 92%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0 120px 0;
}

.thank-you-page .thumb {
    height: 100px;
}

.thank-you-page h1 {
    font-size: 34px;
    font-family: "Barlow Regular", sans serif;
    margin: 40px 0 20px 0;
}

.thank-you-page p {
    font-family: "Barlow Regular", sans serif;
    font-size: 19px;
    margin-bottom: 30px;
    text-align: justify;
}

.thank-you-page .buy-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 20px;
}

.thank-you-page .buy-btn:after {
    background-image: url(../images-new/left-arrow.png);
}

.thank-you-page .buy-btn:hover {
    border: 1px solid #c79090;
    color: #c79090;
}

.thank-you-page .buy-btn:hover .fa {
    color: #c79090;
}

.thank-you-page .buy-btn:hover:after {
    background-image: url(../images-new/left-arrow-red.png);
}

.thank-you-page .fa {
    color: #fff;
}

.thank-you-page .right-container {
    padding-top: 70px;
    text-align: center;
}

.thank-you-page .right-container img {
    filter: brightness(70%); /* darken the image */
    height: 530px;
}

/* end thank you page */

footer .navbar-inverse {
    background-color: #2b2829;
    padding: 1rem 12rem;
}

footer .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

footer .navbar-brand {
    background-image: url(../images-new/footer-Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 408px;
    transform: translate(0, 3px);
}

footer #footer-options>li {
    padding: 0 12px;
}

footer .footer-info {
    background-color: #333031;
    color:#fff;
    padding: 60px;
}

footer p {
    color: #f1f1f1;
    font-size: 17px;
}

footer .footer-info img {
    height: 70px;
    width: 70px;
}

footer .footer-info h2 {
    font-family: "Barlow Medium", sans serif;
    text-transform: uppercase;
}

footer .footer-bottom {
    background-color: #333031;
    border-top: 2px solid #5f5e5e;
    color:#fff;
    font-family: "Barlow ExtraLight", sans serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer .footer-bottom p {
    margin-bottom: 0;
}

.w-100 {
    width: 100%!important;
}

.clearfix {
    clear: both;
}

.site-btn-global-w-arrow {
    background-color: #852635;
    color: #eadadc;
    font-family: "Barlow Light",sans serif;
    font-size: 17px;
    padding: 5px 20px;
}

.site-btn-global-w-arrow:hover {
    color: #eadadc;
    background-color: #611c27;
}

.site-btn-global-w-arrow::after {
    content: "";
    display: block;
    background-image: url(../images-new/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 20px;
    height: 20px;
    float: right;
    margin: 3px 0 0 15px;
}

.info-icon:after {
    content: "";
    display: block;
    background-image: url(../images-new/icon/info.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    float: left;
    margin: 5px 5px 0 0;
}

.bg-site-red {
    background-color: #e83945!important;
}

.select-manuscript {
    color:#fff;
    font-size: 20px;
    padding: .375rem 2rem;
}

/*override form-control read-only*/

.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7;
    opacity: 1;
}

.dropdown-menu {
    min-width: 15rem;
}

.dropdown-item {
    font-family: "Barlow Light", sans serif;
    font-size: 15px;
}

.dropdown-item .btn {
    font-family: "Barlow Light", sans serif;
    font-size: 15px;
    background: transparent;
    text-align: left;
    padding: 0;
}

.dropdown-item:hover, .dropdown-item:hover .btn {
    color: #e83945!important;
}

/*end override form-control read-only*/

/**
 media query
 */
@media (min-width: 768px) {
    .navbar-light .navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar {
        padding: .5rem 1rem;
    }

    .navbar-light {
        padding: 3rem 2rem;
    }

    footer .navbar-inverse {
        padding: 1rem 5rem;
    }

    footer #footer-options>li {
        padding: .3rem;
    }

    footer .navbar-brand {
        width: 270px;
    }

    .start-today {
        padding: 80px 10px;
    }

    .manuscript-page .carousel-control-prev, .manuscript-page .carousel-control-next {
        display: none;
    }

    .manuscript-page .carousel .col-md-3 .panel-body h1 {
        font-size: 21px;
    }

    .manuscript-page .circle {
        height: 180px;
        width: 180px;
    }

    .manuscript-page .circle-white {
        height: 140px;
        width: 140px;
        margin: 10%;
        padding-top: 20%;
    }

    .manuscript-page .carousel .col-md-3 .panel-body {
        font-size: 13px;
    }

    .manuscript-page .buy-btn {
        padding: 10px 50px;
    }

    .manuscript-page .box-white h1 {
        font-size: 37px;
    }

    #editorsModal .modal-lg {
        max-width: 95%;
    }

    #editorsModal .modal-body p {
        margin: 15px 10px 10px 10px;
    }

    .publishing-page {
        background-size: auto 40%;
    }

    .publishing-page .page-title {
        font-size: 33px;
    }

    .publishing-page .card .right-container .book-title {
        font-size: 28px;
    }

    .blog-page {
        padding-bottom: 140px;
    }

    .blog-page .main-container {
        padding: 60px 15px 50px 15px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 200px;
    }

    .blog-page .main-blog .details {
        left: 5%;
    }

    .blog-page .blog-column .details {
        height: 380px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 57px;
    }

    .blog-page .carousel-item:before {
        margin: 0 auto 10px auto;
    }

    .blog-page .carousel-indicators {
        transform: translate(10%, 40px);
    }

    .blog-page .sidebar .poem-container .card-body p, .blog-page .sidebar .testimonial-container .card-body p {
        margin-bottom: 15px;
    }

    .blog-page .sidebar .testimonial-container .card-body {
        padding: 20px 40px 40px 40px;
    }

    .thank-you-page {
        background-size: 100% 94%;
        padding: 60px 0 120px 0;
    }

    .thank-you-page .left-container {
        padding-left: 30px;
    }

    .thank-you-page .right-container img {
        height: 480px;
    }

}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: .5rem 0;
    }

    .navbar-light {
        padding: 3rem 0;
    }

    footer .navbar-inverse {
        padding: 1rem 3rem;
    }

    footer #footer-options>li {
        padding: 0 1rem;
    }

    .start-today {
        height: 450px;
        padding: 50px 5px;
    }

    .start-today h5 {
        font-size: 25px;
        width: 85%;
    }

    .start-today a {
        font-size: 23px;
    }

    footer .footer-info {
        padding: 30px;
    }

    .manuscript-page .main-container {
        padding: 60px 15px 100px 15px;
    }

    .manuscript-page .top-page-container iframe {
        height: 404px;
    }

    .manuscript-page .second-section {
        height: 500px;
    }

    .manuscript-page .second-section p {
        font-size: 16px;
    }

    .manuscript-page .second-section .details {
        padding: 30px;
        transform: translate(0, -10%);
    }

    .manuscript-page .second-section .title {
        font-size: 32px;
    }

    .manuscript-page .third-section {
        background-size: auto 60%;
        background-position-x: 7%;
        height: 550px;
    }

    .manuscript-page .third-section .title {
        font-size: 23px;
    }

    .manuscript-page .third-section .instruction {
        font-size: 19px;
        font-weight: normal;
    }

    .manuscript-page .carousel {
        transform: translate(0, -60px);
    }

    .manuscript-page .circle {
        height: 130px;
        width: 130px;
    }

    .manuscript-page .circle-white {
        height: 95px;
        width: 95px;
        margin: 13%;
        padding-top: 18%;
    }

    .manuscript-page .circle-white .word-count {
        color: #000;
        font-size: 25px;
    }

    .manuscript-page .circle-white h2 {
        font-size: 21px;
    }

    .manuscript-page .carousel .col-md-3 .panel-body h1 {
        font-size: 14px;
        margin: 10px 0;
    }

    .manuscript-page .carousel .col-md-3 .panel-body {
        font-size: 12px;
    }

    .manuscript-page .buy-btn {
        font-size: 15px;
        padding: 10px 20px;
    }

    .manuscript-page .buy-btn:after {
        width: 16px;
        height: 16px;
    }

    .manuscript-page .fourth-section {
        height: 420px;
    }

    .manuscript-page .box-white img {
        height: 60px;
    }

    .manuscript-page .box-white h1 {
        font-size: 25px;
    }

    .link-with-arrow {
        font-size: 17px;
    }

    .manuscript-page .other-services-container {
        padding: 30px 0;
    }

    .manuscript-page .box-white {
        padding: 25px 15px;
    }

    .manuscript-page .box-white:not(:last-child) {
        margin-bottom: 30px;
    }

    #editorsModal .modal-header {
        padding: 10px 10px 20px 0;
    }

    #editorsModal .modal-header .close {
        font-size: 20px;
        height: 35px;
        width: 35px;
    }

    #editorsModal .modal-body .card-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    #editorsModal .modal-body .card-header {
        height: 80px;
    }

    #editorsModal .modal-body .editor-circle {
        height: 100px;
        width: 100px;
    }

    #editorsModal .modal-body .editor-circle img {
        margin-top: 6px;
    }

    #editorsModal .modal-body p {
        margin: 10px 0 0 0;
    }

    .publishing-page {
        background-size: auto 27%;
        padding: 30px 0;
    }

    .publishing-page .page-title {
        font-size: 27px;
    }

    .publishing-page .page-description {
        margin-bottom: 30px;
    }

    .publishing-page .card .right-container .book-title {
        font-size: 23px;
    }

    .publishing-page .card .card-body {
        padding: 30px 10px 10px 10px;
    }

    .publishing-page .card .left-container {
        width: 25%;
    }

    .publishing-page .card .right-container {
        padding-left: 10px;
        padding-right: 20px;
        width: 74%;
    }

    .publishing-page .left-quote:before {
        margin: 0 40px;
    }

    .blog-page {
        padding-bottom: 130px;
    }

    .blog-page .main-container {
        padding: 60px 15px 30px 15px;
    }

    .blog-page .main-blog {
        height: 410px;
    }

    .blog-page .main-blog .details {
        padding: 30px;
        top: 8%;
    }

    .blog-page .blog-container .pagination {
        margin: 0;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 145px;
    }

    .blog-page .blog-column .details {
        height: 420px;
        padding: 20px;
    }

    .blog-page .blog-column .details .date {
        display: block;
    }

    .blog-page .blog-column .details .description {
        text-align: initial;
    }

    .blog-page .blog-column .details .button-container {
        bottom: 4%;
    }

    .blog-page .blog-column .details .button-container .buy-btn {
        font-size: 14px;
        padding: 3px 10px;
    }

    .blog-page .blog-column .details .button-container .buy-btn:after {
        margin: 4px 0 0 12px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 37px;
    }

    .blog-page .sidebar .card .header {
        padding: 10px 20px;
    }

    .blog-page .sidebar .course-container .card {
        padding: 15px 20px 15px 20px;
    }

    .blog-page .sidebar .site-btn-global-w-arrow {
        float: left !important;
        margin-top: 10px;
    }

    .blog-page .sidebar .card .header .buy-btn:after {
        margin: 5px 0 0 6px;
    }

    .blog-page .sidebar .poem-container .card-body {
        padding: 20px;
    }

    .blog-page .sidebar .testimonial-container .card-body {
        padding: 20px 20px 40px 20px;
    }

    .blog-page .sidebar .workshop-container .card-body {
        padding: 15px 20px;
    }

    .blog-page .sidebar .workshop-container .card-body li {
        padding: 8.5px 0;
    }

    .blog-page .sidebar .workshop-container .card-body li a {
        font-size: 16px;
    }

    .thank-you-page {
        padding: 40px 0 120px 0;
    }

    .thank-you-page .thumb {
        height: 80px;
    }

    .thank-you-page h1 {
        font-size: 30px;
        margin: 30px 0 20px 0;
    }

    .thank-you-page p {
        font-size: 17px;
    }

    .thank-you-page .right-container img {
        height: 370px;
    }
}

@media only screen and (max-width: 640px) {
    .navbar-default {
        border-color:#fff;
        display: none;
    }

    .navbar-light {
        padding: 3rem 4.5rem;
    }

    .navbar-fixed-bottom .navbar-collapse {
        max-height: 410px;
    }

    .start-today {
        height: 400px;
        padding: 40px 5px;
    }

    .start-today a {
        margin-top: 30px;
    }

    .start-today h5 {
        width: 95%;
    }

    .manuscript-page .top-page-container iframe {
        height: 302px;
    }

    .manuscript-page .main-container {
        padding: 40px 15px 80px 15px;
    }

    .manuscript-page .second-section .title {
        font-size: 26px;
    }

    .manuscript-page .second-section .details {
        padding: 20px;
        transform: translate(0, -8%);
    }

    .select-manuscript {
        font-size: 15px;
        padding: .375rem .5rem;
    }

    .manuscript-page .third-section .title {
        font-size: 18px;
    }

    .manuscript-page .third-section .instruction {
        font-size: 16px;
    }

    .manuscript-page .third-section .details {
        padding: 70px 15px;
    }

    .manuscript-page .third-section {
        height: 500px;
    }

    .manuscript-page .circle {
        height: 85px;
        width: 85px;
    }

    .manuscript-page .circle-white {
        height: 65px;
        width: 65px;
        margin: 10%;
        padding-top: 12%;
    }

    .manuscript-page .circle-white .word-count {
        font-size: 19px;
    }

    .manuscript-page .circle-white h2 {
        font-size: 16px;
    }

    .manuscript-page .carousel {
        transform: translate(0, -40px);
    }

    .manuscript-page .form-control {
        font-size: 1rem;
        height: calc(3.25rem + 2px);
    }

    .manuscript-page .carousel .col-md-3 .panel-body .price {
        margin-bottom: 2rem !important;
    }

    .manuscript-page .buy-btn {
        font-size: 14px;
        margin-bottom: .8rem!important;
        padding: 3px 3px;
    }

    .manuscript-page .buy-btn:after {
        width: 14px;
        height: 14px;
    }

    .manuscript-page .carousel .col-md-3 .panel-default:before {
        height: 50%;
    }

    .manuscript-page .carousel-indicators {
        transform: translate(0, 40px);
    }

    .manuscript-page .carousel-indicators li, .manuscript-page .carousel-indicators .active {
        width: 50px;
    }

    .manuscript-page .buy-btn {
        padding: 3px 9px;
    }

    .manuscript-page .buy-btn:after {
        margin: 3px 0 0 10px;
    }

    .manuscript-page .fourth-section {
        height: 450px;
    }

    .manuscript-page .box-white {
        padding: 10px 5px;
    }

    .manuscript-page .box-white img {
        height: 40px;
    }

    .manuscript-page .box-white h1 {
        font-size: 17px;
    }

    .link-with-arrow {
        font-size: 15px;
    }

    .link-with-arrow:after {
        width: 13px;
        height: 13px;
        margin: 6px 0 0 15px;
    }

    .manuscript-page .other-services-container {
        padding: 20px 0;
    }

    .manuscript-page .box-white:not(:last-child) {
        margin-bottom: 20px;
    }

    #editorsModal .modal-body {
        padding: 30px 20px;
    }

    #editorsModal .modal-body .card {
        margin-bottom: 20px;
    }

    #editorsModal .modal-body .card-header {
        height: 70px;
    }

    #editorsModal .modal-body .card-body {
        padding: 1.25rem .5rem 1rem .5rem;
    }

    #editorsModal .modal-body .editor-circle {
        height: 90px;
        margin: -65px auto 0 auto;
        width: 90px;
    }

    .publishing-page {
        background-image: none;
    }

    .publishing-page .page-title {
        font-size: 30px;
    }

    .publishing-page .card .card-body {
        padding: 20px 10px 10px 10px;
    }

    .publishing-page .left-quote:before {
        margin: 0 30px;
        width: 25px;
        height: 25px;
    }

    .publishing-page .col-sm-6 {
        padding-left: 15px;
        padding-right: 10px;
    }

    .publishing-page .grid-item {
        margin-bottom: 20px;
    }

    .blog-page {
        padding-bottom: 90px;
    }

    .blog-page .main-container {
        padding: 30px 15px 30px 15px;
    }

    .blog-page .main-blog {
        height: 370px;
    }

    .blog-page .main-blog .details {
        padding: 20px;
        left: 6%;
        top: 6%;
    }

    .blog-page .main-blog .details .title {
        font-size: 28px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 105px;
    }

    .blog-page .blog-column .details {
        padding: 10px 10px;
    }

    .blog-page .blog-column .details * {
        font-size: 14px;
    }

    .blog-page .blog-column .details .title {
        font-size: 18px;
    }

    .blog-page .blog-column .details .description {
        font-size: 14px;
    }

    .blog-page .blog-column .details .button-container .buy-btn {
        font-size: 13px;
        padding: 1px 5px;
    }

    .blog-page .blog-column .details .button-container .buy-btn:after {
        height: 14px;
        margin: 3px 0 0 11px;
        width: 14px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 20px;
    }

    .blog-page .blog-container .pagination li * {
        font-size: 14px;
    }

    .blog-page .sidebar * {
        font-size: 14px;
    }

    .blog-page .sidebar .card {
        margin-bottom: 20px;
    }

    .blog-page .sidebar .poem-container .card .header {
        padding: 5px;
    }

    .blog-page .sidebar .site-btn-global-w-arrow {
        font-size: 14px;
    }

    .blog-page .sidebar .poem-container .card-body {
        padding: 15px;
    }

    .blog-page .sidebar .poem-container .card-body p, .blog-page .sidebar .testimonial-container .card-body p {
        margin-bottom: 11px;
    }

    .blog-page .sidebar .testimonial-container .card-body {
        padding: 20px 15px 40px 15px;
    }

    .blog-page .carousel-item:before {
        width: 20px;
        height: 20px;
    }

    .blog-page .sidebar .card .header {
        padding: 10px;
    }

    .blog-page .sidebar .workshop-container .card-body {
        padding: 10px;
    }

    .thank-you-page {
        background-size: 100% 90%;
    }

    .thank-you-page .left-container {
        padding-left: 0;
    }

    .thank-you-page h1 {
        font-size: 27px;
        margin: 20px 0 15px 0;
    }

    .thank-you-page .right-container img {
        object-fit: cover;
        height: 336px;
        width: 100%;
    }

    .thank-you-page p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .thank-you-page .buy-btn {
        font-size: 15px;
    }
}

@media only screen and (max-width: 415px) {
    .navbar-brand img {
        height: 50px;
    }

    .navbar-light {
        padding: 3rem 1rem;
    }

    .nav-item .login-link {
        padding-top: 10px;
    }

    .start-today {
        height: 370px;
        padding: 30px 5px;
    }

    .start-today h5 {
        font-size: 20px;
        width: 95%;
    }

    .start-today a {
        font-size: 18px;
        margin-top: 30px;
    }

    footer p {
        color: #f1f1f1;
        font-size: 16px;
    }

    .manuscript-page .top-page-container iframe {
        height: 229px;
    }

    .manuscript-page .second-section {
        background-image: none;
    }

    .manuscript-page .third-section {
        background-image: none;
        height: 350px;
    }

    .manuscript-page .col-xs-offset-6 {
        margin-left: 0;
    }

    .manuscript-page .third-section .details {
        padding: 40px 15px;
    }

    .manuscript-page .fourth-section {
        height: auto;
    }

    .manuscript-page .circle {
        height: 120px;
        width: 120px;
    }

    .manuscript-page .circle-white {
        height: 100px;
        width: 100px;
        margin: 7%;
        padding-top: 15%;
    }

    .manuscript-page .circle-white .word-count {
        font-size: 25px;
    }

    .manuscript-page .circle-white h2 {
        font-size: 20px;
    }

    .manuscript-page .carousel .col-md-3 .panel-default:before {
        height: 85%;
    }

    .manuscript-page .carousel .col-md-3 .panel-body h1 {
        font-size: 22px;
        margin: 10px 0;
    }

    .manuscript-page .carousel .col-md-3 .panel-body {
        font-size: 15px;
    }

    .manuscript-page .buy-btn {
        font-size: 17px;
    }

    .manuscript-page .buy-btn:after {
        margin: 5px 0 0 10px;
    }

    .manuscript-page .other-services-container {
        padding: 10px;
    }

    .manuscript-page .last-section {
        background-size: 100% 100%;
    }

    .manuscript-page .box-white:not(:last-child) {
        margin-bottom: 10px;
    }

    #editorsModal .modal-dialog {
        margin: 10px;
    }

    #editorsModal .modal-header {
        padding: 8px 8px 16px 0;
    }

    #editorsModal .modal-header .close {
        font-size: 18px;
        height: 33px;
        width: 33px;
    }

    #editorsModal .modal-body p {
        margin: 10px;
    }

    #editorsModal .modal-body .card:last-child {
        margin-bottom: 0;
    }

    #editorsModal .modal-body .editor-circle {
        height: 89px;
        width: 89px;
    }

    .publishing-page .col-sm-6 {
        padding-left: 15px;
        padding-right: 0;
    }

    .publishing-page .left-quote:before {
        margin: 0 50px;
    }

    .publishing-page .page-title {
        font-size: 28px;
    }

    .blog-page {
        padding-bottom: 50px;
    }

    .blog-page .main-container {
        padding: 30px 30px 30px 30px;
    }

    .blog-page .blog-container {
        margin-bottom: 30px;
    }

    .blog-page .main-blog {
        height: 340px;
    }

    .blog-page .main-blog .details {
        left: 4%;
        padding: 20px 10px;
        top: 4%;
        width: 355px;
    }

    .blog-page .main-blog .details .title {
        font-size: 24px;
    }

    .blog-page .main-blog .details .description {
        font-size: 16px;
    }

    .blog-page .main-blog .details .buy-btn {
        padding: 5px 40px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 220px;
    }

    .blog-page .blog-column {
        padding-left: 15px;
    }

    .blog-page .blog-column .details {
        height: auto;
        min-height: 260px;
        padding: 20px;
    }

    .blog-page .blog-column .details * {
        font-size: 15px;
    }

    .blog-page .blog-column .details .date {
        display: inline;
    }

    .blog-page .blog-column .details .title {
        font-size: 20px;
    }

    .blog-page .blog-column .details .description {
        font-size: 15px;
    }

    .blog-page .blog-column .details .button-container .buy-btn {
        font-size: 15px;
        padding: 5px 15px;
    }

    .blog-page .blog-column .details .button-container .buy-btn:after {
        height: 16px;
        margin: 4px 0 0 15px;
        width: 16px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 185px;
    }

    .blog-page .blog-container .pagination li:first-child {
        float: left;
        margin-left: 15px;
    }

    .blog-page .blog-container .pagination li * {
        font-size: 15px;
    }

    .blog-page .sidebar {
        padding-left: 30px;
        padding-right: 30px;
    }

    .blog-page .sidebar * {
        font-size: 17px;
    }

    .blog-page .sidebar .site-btn-global-w-arrow {
        float: right !important;
        font-size: 15px;
        margin-top: 0;
    }

    .blog-page .sidebar .course-container .card {
        padding: 20px 27px 20px 30px;
    }

    .blog-page .sidebar .poem-container .card .header, .blog-page .sidebar .card .header {
        padding: 10px 30px;
    }

    .blog-page .sidebar .poem-container .card-body {
        padding: 30px 40px;
    }

    .blog-page .sidebar .testimonial-container .card-body {
        padding: 30px 40px 40px 40px;
    }

    .blog-page .sidebar .workshop-container .card-body {
        padding: 20px 30px;
    }

    .blog-page .sidebar .workshop-container .card-body li a {
        font-size: 17px;
    }

    .thank-you-page {
        background-color: rgba(132, 60, 70);
        background-image: none;
        padding: 15px 0;
    }

    .thank-you-page .left-container {
        padding-left: 15px;
    }

    .thank-you-page .right-container {
        padding-top: 15px;
    }

    .thank-you-page .right-container img {
        object-fit: cover;
        height: 450px;
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .start-today {
        height: 340px;
        padding: 15px 5px;
    }

    .start-today h5 {
        font-size: 19px;
    }

    .start-today a {
        font-size: 17px;
        margin-top: 5px;
    }

    footer p {
        font-size: 15px;
    }

    .manuscript-page .top-page-container iframe {
        height: 209px;
    }

    .manuscript-page .second-section {
        height: 590px;
    }

    .manuscript-page .third-section {
        height: 390px;
    }

    #editorsModal .modal-body {
        padding: 25px 20px;
    }

    .publishing-page .page-title {
        font-size: 25px;
    }

    .publishing-page .left-quote:before {
        margin: 0 47px;
    }

    .blog-page .main-container {
        padding: 30px 30px 40px 30px;
    }

    .blog-page .main-blog {
        height: 354px;
    }

    .blog-page .main-blog .details {
        width: 317px;
    }

    .blog-page .main-blog .details .title {
        font-size: 21px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 190px;
    }

    .blog-page .blog-column .details {
        min-height: 320px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 145px;
    }

    .thank-you-page .thumb {
        height: 70px;
    }

    .thank-you-page .right-container img {
        object-fit: cover;
        height: 400px;
    }
}

@media only screen and (max-width: 360px) {
    footer .navbar-brand {
        width: 240px;
    }

    .manuscript-page .top-page-container iframe {
        height: 201px;
    }

    .manuscript-page .third-section .details {
        padding: 25px 15px;
    }

    .publishing-page .page-title {
        font-size: 24px;
    }

    .blog-page .main-blog {
        height: 380px;
    }

    .blog-page .main-blog .details {
        width: 304px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 180px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 130px;
    }

    .thank-you-page .right-container img {
        height: 320px;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-brand img {
        height: 40px;
    }

    .navbar-light {
        padding: 2rem 1rem;
    }

    footer .navbar-brand {
        width: 210px;
    }

    .manuscript-page .top-page-container iframe {
        height: 179px;
    }

    .manuscript-page .second-section {
        height: 630px;
    }

    .manuscript-page .third-section {
        height: 410px;
    }

    .publishing-page .page-title {
        font-size: 21px;
    }

    .blog-page .main-blog {
        height: 400px;
    }

    .blog-page .main-blog .details {
        width: 265px;
    }

    .blog-page .main-blog .details .title {
        font-size: 19px;
    }

    .blog-page .main-blog .details .buy-btn {
        font-size: 16px;
        padding: 5px 30px;
    }

    .blog-page .blog-column img, .blog-page .sidebar img {
        height: 165px;
    }

    .blog-page .blog-column .details .button-container .social-container {
        margin-left: 90px;
    }

    .blog-page .sidebar .course-container .card {
        padding: 20px 15px 20px 15px;
    }

    .blog-page .sidebar .poem-container .card .header, .blog-page .sidebar .card .header {
        padding: 10px 15px;
    }

    .blog-page .sidebar .poem-container .card-body {
        padding: 30px 15px;
    }

    .blog-page .sidebar .testimonial-container .card-body {
        padding: 30px 15px 40px 15px;
    }

    .blog-page .sidebar .workshop-container .card-body {
        padding: 20px 15px;
    }
}