@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color: #5F0000;
    --secondary-color: #5D7285;
    --box-shadow-style: 0 4px 4px 0 rgb(0,0,0,25%);
    --secondary-red: #852635;
    --white: #ffffff;
    --black: #000000;
    --pink: #FFEEE8;
    --blue: #00477B;
}

* {
    font-family: 'Inter';
}

body:not(.modal-open) {
    padding-right: 0 !important;
}

#sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow-style);
    overflow-x: auto;
    padding: 30px;
    transition: all 0.3s ease;
    z-index: 9;
}

#sidebarCollapse {
    color: var(--white);
    background: none;
    border: none;
}

#sidebar .navbar-brand {
    margin-bottom: 20px;
    padding: .3125rem 0;
}

#sidebar .navbar-brand svg {
    height: 34px;
    width: 34px;
}

#sidebar .navbar-brand span {
    font-size: 14px;
    font-weight: bold;
    line-height: 3.625rem;
}

#sidebar ul {
    width: 100%;
}

#sidebar ul > li {
    width: 100%;
}

#sidebar ul > li a,
#sidebar .learner-details-container {
    color: var(--secondary-color);
    font-family: 'Poppins';
    font-size: 14px;
}

#sidebar ul > li a:hover,
#sidebar ul > li.active a {
    background-color: #EFF2F4;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
}

#sidebar ul > li a > .fa,
#sidebar ul > li a > .fab {
    color: var(--secondary-color);
    font-size: 20px;
    margin-right: 10px;
    width: 22px; /* just to make the fa icon same width */
}

#sidebar ul > li.active a > .fa,
#sidebar ul > li.active a > .fab,
#sidebar ul > li a:hover > .fa,
#sidebar ul > li a:hover > .fab {
    color: var(--primary-color);
}

#sidebar .learner-details-container {
    font-size: 18px;
    margin-top: 30px;
}

#sidebar .icons-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#sidebar .icons-container a {
    background-color: #f5f7fa;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
    padding: 10px 15px;
}

#sidebar .portal-btn {
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    color: var(--primary-color);
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
}

#sidebar .portal-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

#sidebar .logout-btn {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
}

#sidebar .logout-btn i {
    margin-right: 10px;
}

#sidebar .logout-btn:hover {
    background-color: #5f0000c2;
}

#main-container.enlarge {
    margin-left: 300px; /* Adjust this value to match the width of the sidebar */
}

#topbar {
    box-shadow: var(--box-shadow-style);
    color: #fff;
    height: 100px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar * {
    color: var(--secondary-color);
}

#topbar .auto-renew-wrapper {
    display: inline-block;
    margin-right: 50px;
}

#user-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

#main-content {
    background-color: #f3f5f7;
}

/* learner dashboard */
.learner-dashboard-wrapper * {
    font-family: 'Poppins';
}

.learner-dashboard-wrapper .page-title,
.learner-manuscript-wrapper .page-title,
.learner-workshop-wrapper .page-title {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.learner-dashboard-wrapper .course-item,
.learner-course-wrapper .course-item {
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.learner-dashboard-wrapper .course-item:first-child,
.learner-course-wrapper .course-item:first-child {
    padding-top: 0;
}

.learner-dashboard-wrapper .course-item:last-child,
.learner-course-wrapper .course-item:nth-last-child(2) {
    border-bottom: none;
    padding-bottom: 0;
}

.learner-dashboard-wrapper .course-item img,
.learner-course-wrapper .course-item img {
    border-radius: 10px;
    max-height: 192px;
    width: 100%;
}

.learner-dashboard-wrapper .course-item h3,
.learner-course-wrapper .course-item h3 {
    color: var(--primary-color);
    font-family: 'Rubik';
}

.learner-dashboard-wrapper .course-item p,
.learner-course-wrapper .course-item p {
    font-family: 'Rubik';
    word-break: break-word;
}

.learner-dashboard-wrapper .calendar-item {
    box-shadow: var(--box-shadow-style);
    margin-bottom: 20px;
    padding: 10px;
}

.learner-dashboard-wrapper .calendar-item * {
    font-family: 'Inter';
}

.learner-dashboard-wrapper .calendar-item:last-child {
    margin-bottom: 0;
}

.learner-dashboard-wrapper .calendar-item .date-container {
    background-color: #FFE1E1;
    padding: 5px;
}

.learner-dashboard-wrapper .calendar-item .col-md-4 {
    padding-right: 0;
}

.learner-dashboard-wrapper .free-course-row {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.learner-dashboard-wrapper .free-course-row:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.learner-dashboard-wrapper .free-course-row img {
    width: 100%;
}

.learner-dashboard-wrapper .free-course-row b {
    font-family: 'Inter';
    font-size: 14px;
}

.learner-dashboard-wrapper .webinar-wrapper {
    background-color: var(--white);
    padding: 20px 10px;
}

.learner-dashboard-wrapper .webinar-wrapper .webinar-column {
    margin-bottom: 20px;
}

.learner-dashboard-wrapper .webinar-wrapper .global-card {
    box-shadow: var(--box-shadow-style);
    position: relative;
}

.learner-dashboard-wrapper .webinar-wrapper .card-header img {
    height: 180px;
    object-fit: contain;
    width: 100%;
}

.learner-dashboard-wrapper .webinar-wrapper .card-body .fa {
    color: var(--black);
}

.learner-dashboard-wrapper .webinar-wrapper .card-body h3,
.learner-dashboard-wrapper .webinar-wrapper .card-body p {
    font-family: 'Inter';
}

.learner-dashboard-wrapper .webinar-wrapper .button-container {
    height: 32px;
}

.learner-dashboard-wrapper .webinar-wrapper .btn {
    background-color: #C12938;
    border-radius: 50px;
    color: var(--white);
    position: absolute;
    bottom: 20px;
    left: 13px;
    width: 90% !important;
}

.learner-dashboard-wrapper .webinar-wrapper .btn:hover {
    background-color: var(--primary-color);
}
/* end learner-dashboard */

/* learner course */

.learner-course-wrapper .former-courses-wrapper {
    position: sticky;
    top: 0;
    max-height: 90vh;
    overflow: auto;
}

.learner-course-wrapper .former-courses-wrapper img {
    width: 100%;
}

.learner-course-wrapper .former-courses-wrapper .card:not(:last-child) {
    margin-bottom: 30px;
}
/* end learner course */

/* course lesson page */
.learner-container .lesson-container h1 {
    font-weight: bold;
}

.learner-container .lesson-container .course-link {
    color: rgb(0, 0, 0, 66%);
    display: inline-block;
    margin-top: 20px;
}

.learner-container .lesson-container .previous-lesson-link {
    color: var(--black);
    font-weight: bold;
}

.learner-container .lesson-container .previous-lesson-link:hover {
    border-bottom: 2px solid var(--black);
}

.learner-container .lesson-container .previous-lesson-link .fa {
    color: var(--black);
}

.learner-container .lesson-container .next-lesson-link {
    color: var(--white);
    font-weight: bold;
    background-color: var(--secondary-red);
    border-radius: 5px;
    padding: 5px 10px;
}

.learner-container .lesson-container .next-lesson-link:hover {
    text-decoration: underline;
}

.learner-container .lesson-container .lesson-title {
    margin-top: 20px;
}

.learner-container .lesson-container .lesson-details-row {
    margin-top: 20px;
}

.learner-container .lesson-container .lesson-details {
    background-color: var(--white);
    box-shadow: var(--box-shadow-style);
    padding: 15px;
}

.learner-container .lesson-container .lesson-details ul {
    position: relative;
}

.learner-container .lesson-container .lesson-details ul > li::marker {
    content: "";
}

.learner-container .lesson-container .lesson-details ul > li::before {
    content: "";
    background-image: url(../images-new/icon/check-circle-red.png);
    height: 24px;
    width: 24px;
    position: absolute;
    left: 10px;
}

.learner-container .lesson-container .lesson-details table {
    width: 100% !important;
}

.learner-container .lesson-container .lesson-details .timeline {
    padding-bottom: 1.5rem;
    border-left: 3px solid maroon;
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
}

.learner-container .lesson-container .lesson-details .timeline:not(:first-of-type) {
    padding-top: 20px;
}

.learner-container .lesson-container .lesson-details .timeline::before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid maroon;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.learner-container .lesson-container .lesson-details .timeline:last-of-type {
    border: 0px;
    padding-bottom: 0;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.17);
    display: flex; /* Use flexbox to align elements in a row */
    align-items: center; /* Vertically center the elements */
    padding: 20px;
    overflow: auto;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details img {
    width: 190px;
    margin-right: 20px;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details table td {
    padding: 10px;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details table .table-header {
    color: #B3B3B3;
}

.learner-container .lesson-container .right-container {
    background-color: var(--white);
    max-height: 90vh;
    padding: 25px 15px;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.learner-container .lesson-container .right-container h2 {
    color: #1D2026;
    font-weight: bold;
}

.learner-container .lesson-container .right-container .download-lesson-btn {
    border: 1px solid var(--secondary-red);
    border-radius: 5px;
    display: inline-block;
    color: var(--secondary-red);
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.learner-container .lesson-container .right-container .download-lesson-btn .fa {
    color: var(--secondary-red);
    margin-right: 10px;
}

.learner-container .lesson-container .right-container .download-lesson-btn:hover {
    background-color: var(--secondary-red);
    color: var(--white);
    text-decoration: none;
}

.learner-container .lesson-container .right-container .download-lesson-btn:hover .fa {
    color: var(--white);
}

.learner-container .lesson-container .right-container .download-file-btn {
    color: var(--primary-color);
    display: inline-block;
    margin-top: 10px;
}

.learner-container .lesson-container .right-container .download-file-btn .fa {
    color: var(--primary-color);
    margin-right: 10px;
}

.learner-container .lesson-container .right-container .lesson-text-title {
    margin-top: 30px;
}

.learner-container .lesson-container .right-container .lesson-list-container {
    margin-top: 10px;
}

.learner-container .lesson-container .right-container .lesson-list-container a {
    display: block;
    color: #1D2026;
    padding: 10px 5px;
}

.learner-container .lesson-container .right-container .lesson-list-container a > span {
    background-color: #FFE1E1;
    color: #690000;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px 5px;
}

.learner-container .lesson-container .right-container .lesson-list-container a.current,
.learner-container .lesson-container .right-container .lesson-list-container a.active:hover {
    background-color: #EEF1F3;
    border-radius: 5px;
    text-decoration: none;
}

.learner-container .lesson-container .right-container .lesson-list-container a.inactive {
    cursor: not-allowed;
    opacity: .5;
}

.learner-container .lesson-container .right-container .lesson-list-container a.inactive:hover {
    text-decoration: none;
}

.learner-container .lesson-container .scroll-top {
    background-color: var(--secondary-red) !important;
}

/* end course lesson page */

/* learner shop-manuscript page */
.learner-manuscript-wrapper .manuscript-taken-row {
    border-bottom: 1px solid #EDEDED;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.learner-manuscript-wrapper .button-container {
    float: left;
}

.learner-manuscript-wrapper .word-container {
    float: right;
}

.learner-manuscript-wrapper .pagination .page-link .fa {
    margin-top: 3px;
}
/* end learner shop-manuscript page */

/* learner assignment */

.learner-assignment .nav-tabs > li > a {
    color: #75777A;
    font-weight: bold;
    font-size: 16px;
}

.learner-assignment .nav-tabs > li.active > a,
.learner-assignment .nav-tabs > li.active > a:hover,
.learner-assignment .nav-tabs > li > a:hover {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #E83A47;
    color: var(--black);
}

.learner-assignment .col-sm-12 {
    padding: 0;
}

.learner-assignment .assignment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
}

.learner-assignment .assignment-container .date-container {
    background-color: #610000;
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.learner-assignment .assignment-container .date-container p,
.learner-assignment .assignment-container .date-container h3 {
    font-size: 20px;
}

.learner-assignment .assignment-container .date-container .fa {
    color: var(--white);
    font-size: 45px;
}

.learner-assignment .assignment-container h2 {
    font-weight: bold;
}

.learner-assignment .assignment-container .max-word-container {
    background-color: var(--pink);
    color: #A60000;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

.learner-assignment .assignment-container .description-container {
    margin-top: 20px;
}

.learner-assignment .assignment-container .manuscript-container {
    display: flex;
    background-color: #FFFCEC;
    margin-top: 30px;
    padding: 10px 0;
}

.learner-assignment .assignment-container .manuscript-container a {
    font-weight: bold;
}

.learner-assignment .assignment-container .manuscript-container .button-container {
    text-align: center;
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-info,
.learner-assignment .assignment-container .manuscript-container .button-container .btn-danger {
    background-color: transparent;
    border: none;
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-info .fa {
    color: var(--blue);
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-danger .fa {
    color: #A60000;
}

.learner-assignment .assignment-container .manuscript-container .button-container .fa-eye {
    color: var(--blue);
}

.learner-assignment .assignment-container .bottom-container {
    border-top: 1px solid #EFEFEF;
    margin-top: 30px;
    padding-top: 10px;
}

.learner-assignment .assignment-container .bottom-container p {
    font-size: 13px;
}

.learner-assignment .feedback-from-editor-container {
    margin-top: 30px;
}

.learner-assignment .feedback-from-editor-container table {
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}

.learner-assignment .feedback-from-editor-container table th,
.learner-assignment .feedback-from-editor-container table td {
    padding: 15px;
}

.learner-assignment .feedback-from-editor-container table th {
    color: #B3B3B3;
    font-weight: bold;
}

.learner-assignment .feedback-from-editor-container table td.td-date {
    color: #666666;
}

.learner-assignment .feedback-from-editor-container table td a {
    color: #5F0000;
    font-weight: bold;
}

.learner-assignment .feedback-from-editor-container table td a.download-feedback {
    border: 2px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 10px;
}

.learner-assignment .feedback-from-editor-container table td a.download-feedback:hover {
    background-color: var(--blue);
    color: var(--white);
}

.learner-assignment .feedback-from-editor-container table td .fas {
    margin-left: 5px;
}

.learner-assignment .upcoming-assignment-container {
    background-color: var(--white);
    border: 1px solid #959595;
    border-radius: 10px;
    box-shadow: var(--box-shadow-style);
    margin-top: 40px;
    padding: 40px 30px;
}

.learner-assignment .upcoming-assignment-container h2 {
    border-bottom: 1px solid #D9D9D9;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

.learner-assignment .upcoming-assignment-container .upcoming-assignment-list {
    border-bottom: 1px solid #D9D9D9;
    padding: 30px 0 20px;
}

.learner-assignment .waiting-for-feedback-wrapper,
.learner-assignment .group-assignment-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.learner-assignment .waiting-for-feedback-wrapper .assignment-container:first-child {
    margin-top: 0;
}

.learner-assignment .waiting-for-feedback-wrapper .assignment-container img {
    margin-right: 5px;
}

.learner-assignment .finish-assignment-wrapper,
.learner-assignment .group-list-wrapper {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--box-shadow-style);
    max-height: 90vh;
    overflow: auto;
    padding: 40px 20px;
    position: sticky;
    top: 0;
}

.learner-assignment .finish-assignment-wrapper h2,
.learner-assignment .group-list-wrapper h2 {
    color: var(--blue);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper h3,
.learner-assignment .finish-assignment-wrapper .timeline-wrapper .timeline {
    padding-left: 15px;
    position: relative;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper h3:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #175302;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 5px;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper .timeline {
    border-left: 3px solid #175302;
    padding-bottom: 30px;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper:last-child .timeline {
    padding-bottom: 0;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper .timeline .feedback-container p {
    color: #384247;
    font-size: 14px;
}

.learner-assignment .finish-assignment-wrapper .timeline-wrapper .timeline .feedback-container .btn {
    background-color: var(--blue) !important;
    border-radius: 5px;
    font-size: 11px;
    margin-top: 5px;
}

.learner-assignment .group-assignment-wrapper h1 {
    font-weight: bold;
}

.learner-assignment .group-assignment-wrapper a,
.learner-assignment .group-assignment-wrapper .fa {
    color: var(--black);
}

.learner-assignment .group-assignment-wrapper a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.learner-assignment .group-assignment-wrapper a:hover .fa {
    color: var(--primary-color);
}

.learner-assignment .group-assignment-wrapper a:active {
    text-decoration: none;
}

.learner-assignment .group-assignment-wrapper .group-container {
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.learner-assignment .group-assignment-wrapper .group-container:hover,
.learner-assignment .group-assignment-wrapper .group-container.active {
    background-color: #FFFDF4;
    cursor: pointer;
}

.learner-assignment .group-assignment-wrapper .group-container h3 .fa {
    margin-right: 5px;
}

.learner-assignment .group-assignment-wrapper .group-container b {
    color: #384247;
    display: block;
    margin-top: 15px;
}

.learner-assignment .group-assignment-wrapper .group-container p {
    color: #384247;
    font-size: 14px;
    margin-top: 10px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .title-container {
    display: flex;
    align-items: center;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .title-container h1 {
    display: inline;
    font-size: 28px;
    font-weight: bold;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .title-container span {
    background-color: var(--pink);
    color: #833A3A;
    font-weight: bold;
    margin-left: 15px;
    padding: 5px 10px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper {
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper.active {
    background-color: #FFFDF4;
    border-color: #9F9F9F;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .header {
    position: relative;
    border-bottom: 1px solid #CACACA;
    padding: 10px 0 20px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .header img {
    position: absolute;
    top: 0;
    height: 40px;
    border-radius: 50%;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .header h2 {
    font-size: 24px;
    font-weight: bold;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .body {
    padding-top: 20px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .body p {
    margin-bottom: 50px;
    margin-top: 10px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .file-container {
    margin-top: 30px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .file-container .fa {
    color: var(--black);
    font-size: 20px;
    margin-right: 5px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .file-container b {
    font-size: 20px;
    margin-right: 10px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .learner-details-wrapper .file-container a:hover {
    color: var(--white);
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .date {
    color: #384247;
    font-size: 14px;
    margin-top: 10px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper table {
    margin-top: 40px;
}

.learner-assignment .group-assignment-wrapper .group-learner-list-wrapper table>thead>tr>th {
    color: #96A5B8;
}

/* .learner-assignment .group-assignment-wrapper .group-list-wrapper h2 {
    color: var(--black);
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper {
    cursor: pointer;
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container {
    padding: 20px;
    border: 1px solid var(--white);
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container:hover,
.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container.active {
    background-color: #FFFDF4;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container b {
    color: #384247;
    display: block;
    margin-bottom: 10px;
}

.learner-assignment .group-assignment-wrapper .group-list-wrapper .group-container p {
    color: #384247;
    font-size: 14px;
} */

/* learner webinar page */
.learner-webinar-page .webinar-search-container input {
    border: 1px solid #E9EAF0;
    border-radius: 40px 0 0 40px !important;
    margin-right: 0;
    padding: 15px;
}

.learner-webinar-page .second-search {
    margin-bottom: 20px;
}

.learner-webinar-page .page-title {
    font-family: 'Poppins';
    font-weight: bold;
}

.learner-webinar-page .table > tbody > tr > td {
    padding: 15px;
}

.learner-webinar-page .second-search .input-group {
    display: -webkit-box;
}

.learner-webinar-page .webinar-list-card .top-row {
    margin-bottom: 30px;
}

.learner-webinar-page .webinar-list-card  > .card-body {
    padding-top: 0;
}

.learner-webinar-page .webinar-list-card .webinar-row {
    margin-top: 20px;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card {
    box-shadow: var(--box-shadow-style);
    position: relative;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .webinar-thumb {
    padding-bottom: 0;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .webinar-thumb div {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .fa {
    color: var(--black);
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .date {
    color: #585858;
    font-weight: bold;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .hidden-container {
    height: 111px;
}

.learner-course-webinar-page .webinar-list-card .webinar-row .webinar-card .hidden-container {
    height: 156px;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .button-container {
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    border-top: 1px solid #E9EAF0;
    padding: 10px 0;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .button-container .btn {
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .button-container .light-red-outline-btn {
    color: #C12938;
    border-color: #C12938;
}

.learner-webinar-page .webinar-list-card .webinar-row .webinar-card .button-container .light-red-outline-btn:hover {
    background-color: #C12938;
    color: var(--white);
}
/* end learner webinar page */

/* learner invoice page */
.learner-invoice-wrapper .table>thead>tr>th {
    font-family: 'Inter';
    font-weight: bold;
    padding: 0 8px 8px;
}

.learner-invoice-wrapper .table .blue-outline-btn {
    display: block;
    padding: 5px;
    text-align: center;
}
/* end learner invoice page */

#submitEditorManuscriptModal .file-upload,
#submitManuscriptModal .file-upload,
#editManuscriptModal .file-upload {
    background-color: #F8F8FF;
    border-radius: 0.25rem;
    border: 1px dashed rgba(56, 78, 183, 0.30);
    flex-direction: column;
    margin-top: 0;
    padding: 50px;
}

#submitEditorManuscriptModal .file-upload .fa,
#submitManuscriptModal .file-upload .fa,
#editManuscriptModal .file-upload .fa {
    font-size: 30px;
    margin-bottom: 20px;
}

#submitEditorManuscriptModal .file-label,
#submitManuscriptModal .file-label,
#editManuscriptModal .file-label {
    color: #676767;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

#submitEditorManuscriptModal .file-upload-text,
#submitManuscriptModal .file-upload-text,
#editManuscriptModal .file-upload-text {
    font-weight: bold;
}

.custom-radio [type=radio]:checked+label {
    color: var(--primary-color);
}

.custom-radio [type=radio]:checked+label, 
.custom-radio [type=radio]:not(:checked)+label {
    color: #6E7485;
    font-family: 'Inter';
    font-weight: normal;
}

.custom-radio [type=radio]:checked+label:before {
    border: 1.5px solid var(--primary-color);
}

.custom-radio [type=radio]:checked+label:after {
    background: var(--primary-color);
}

.toggle-on.btn-primary {
    background-color: #5F0000 !important;
}

.learner-assignment .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
}

/* end assignment page */

/* learner upgrade page */
.learner-upgrade {
    display: flex;
}

.learner-upgrade .upgrade-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.learner-upgrade h1 {
    color: #5D7285;
    font-family: 'Poppins';
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 15px;
}

.learner-upgrade .card .card-header {
    background-color: var(--white);
}

.learner-upgrade table a,
.learner-upgrade .card .card-header h2 {
    font-weight: bold;
}

.learner-upgrade .btn-outline-primary {
    color: var(--blue);
    border-color: var(--blue);
    border-radius: 5px;
    padding: 5px 10px;
}

.learner-upgrade .btn-outline-primary:hover {
    background-color: var(--blue);
    color: var(--white);
}

.learner-upgrade .right-container {
    background-color: var(--white);
    box-shadow: var(--box-shadow-style);
    padding: 20px;
    text-align: center;
}

.learner-upgrade .right-container p {
    color: #4E5566;
}

.learner-upgrade .right-container .price {
    background-color: var(--pink);
    color: #A60000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
}

.learner-upgrade .right-container h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.learner-upgrade .right-container .fa {
    color: var(--black);
}

#successAutoRenewModal .modal-header {
    color: #7C8691;
}

#successAutoRenewModal h3 {
    color: #ABABAB;
}

#successAutoRenewModal img {
    height: 150px;
    margin-bottom: 30px;
}

#successAutoRenewModal .modal-footer {
    background-color: #F1F5F8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

#successAutoRenewModal .modal-footer button {
    background-color: #D0DEEB;
    color: #9BA9B9;
    font-weight: bold;
    font-size: 14px;
}

/* end learner upgrade page */

.new-global-modal .modal-content {
    border-radius: 10px;
}

.new-global-modal .modal-header {
    padding: 20px;
}

.new-global-modal .modal-header .modal-title {
    font-size: 18px;
}

.new-global-modal .modal-header .close {
    font-size: 28px;
}

.new-global-modal .modal-body {
    padding: 20px;
}

.new-global-modal .submit-btn {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 8px;
    font-size: 16px;
    min-width: 250px;
    padding: 10px;
}

.new-global-modal .submit-btn:hover {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important;
}

.loading-wrapper {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-wrapper .fa {
    font-size: 80px;
    color: var(--primary-color) !important;
}

.red-global-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--white) !important;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

.red-global-btn:hover {
    background-color: var(--white);
    color: var(--primary-color) !important;
}

.red-global-btn:hover .fa {
    color: var(--primary-color);
}

.pink-global-btn {
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 10px;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

.pink-global-btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.red-outline-btn {
    background-color: transparent;
    border: 1px solid #610000;
    border-radius: 10px;
    color: #610000;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.short-red-outline-btn {
    background-color: transparent;
    border: 1px solid #610000;
    border-radius: 5px;
    color: #610000;
    font-weight: bold;
}

.red-outline-btn:hover,
.short-red-outline-btn:hover {
    background-color: #610000;
    color: var(--white);
}

.red-outline-btn .fa,
.short-red-outline-btn .fa {
    color: #610000;
}

.blue-outline-btn {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue) !important;
    font-weight: bold;
}

.blue-outline-btn .fa {
    color: var(--blue) !important;
    font-size: 15px !important;
}

.blue-outline-btn:hover {
    background-color: var(--blue);
    color: var(--white) !important;
}

.blue-outline-btn:hover .fa,
.red-outline-btn:hover .fa,
.short-red-outline-btn:hover .fa {
    color: var(--white) !important;
}

.blue-btn {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
}

.blue-btn:hover {
    background-color: transparent;
    color: var(--blue);
}

.blue-btn:hover .fa {
    color: var(--blue);
}

.light-red-outline-btn {
    background-color: transparent;
    border: 1px solid rgb(95, 0, 0, 28%);
    font-family: 'Roboto';
    font-weight: bold;
    padding: 8px;
    width: 100%;
}

.light-red-outline-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.light-red-btn {
    background-color: #C12938;
    border: 1px solid #C12938;
    color: var(--white);
    font-family: 'Inter';
    font-weight: bold;
    padding: 8px;
}

.light-red-btn:hover {
    background-color: transparent;
    color: #C12938;
}

.text-gray {
    color: #96A5B8;
}

.text-red {
    color: var(--primary-color) !important;
}

.global-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.global-card .card-header {
    background: transparent;
    padding: 0 0 10px;
}

.global-card .card-header * {
    font-weight: bold;
}

.global-card .card-body {
    padding-bottom: 0;
}

.label-violet,
.label-green,
.label-rounded,
.label-orange,
.label-red {
    border-radius: 20px;
    padding: 6px 16px;
}

.label-violet {
    background-color: #EDEDFE;
    color: #0C0059;
}

.label-green {
    background-color: #CFFFCE;
    color: #175302;
}

.label-orange {
    background-color: #FFF4E4;
    color: #E99518;
}

.label-red {
    background-color: #FFF0F0;
    color: #F93232;
}

.custom-center-pagination {
    display: flex;
    justify-content: center;
}

.custom-center-pagination .pagination > li > a,
.custom-center-pagination .pagination > li > span {
    border: none;
    border-radius: 18px;
    color: var(--black);
    margin-right: 5px;
    padding: 6px 12px;
    height: 33px;
    width: 33px; /* to have same width */
}

.custom-center-pagination .page-item.active .page-link {
    background-color: var(--primary-color);
}

.custom-center-pagination .page-item:not(.active) .page-link:hover {
    background-color: var(--pink);
}

.custom-center-pagination .page-item.first-child .page-link,
.custom-center-pagination .page-item.last-child .page-link {
    background-color: var(--pink);
    display: inline-table;
}

.custom-center-pagination .page-item:first-child .page-link {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.custom-center-pagination .page-item:last-child .page-link {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.custom-short-pagination .pagination>li>a, 
.custom-short-pagination .pagination>li>span {
    border-color: #DFE3E8;
    border-radius: 4px;
    color: var(--black);
    font-weight: bold;
    margin-right: 10px;
}

.custom-short-pagination .pagination .page-item.active > .page-link {
    background-color: transparent;
    border-color: var(--black);
    color: var(--black);
}

.custom-short-pagination .pagination .page-item.disabled > .page-link {
    background-color: #C4CDD5;
    color: var(--white);
}

.custom-badge {
    font-family: 'Inter';
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
}

.custom-badge.active {
    background-color: var(--pink);
    color: var(--primary-color);
}

.custom-badge.start {
    background-color: #CFFFCE;
    color: #175302;
}

.custom-badge.on-hold {
    background-color: #eee;
    color: #a39696;
}

.custom-badge.ended {
    background-color: #EDEDFE;
    color: #0C0059;
}

.custom-badge.yellow {
    background-color: #FFF8BA;
    color: #804D00;
}

.rounded-20 {
    border-radius: 20px;
}

.gray-table > thead > tr > th {
    background-color: #FAFAFB;
    border: none;
    color: #8492A6;
    font-family: 'Inter';
    font-weight: bold;
    padding: 15px;
}

.gray-table > tbody > tr > td {
    padding: 15px;
}

.webinar-thumb .play-button:before {
    background-image: url(../images-new/icon/play-circle.png);
}

.blue-link {
    background-color: transparent;
    color: var(--blue);
}

.blue-link:hover,
.blue-link:hover .fa {
    color: #087acd;
}

.blue-link .fa {
    color: var(--blue);
}

.redeem-gift-link {
    margin-right: 1rem;
}

.redeem-gift-link:hover,
.redeem-gift-link:active {
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    #topbar .auto-renew-wrapper {
        display: none;
    }

    #main-container.enlarge {
        margin-left: 0;
    }

    .global-card .card-body {
        overflow-x: auto;
    }

    .dashboard-last-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .learner-container .lesson-container .lesson-details {
        overflow: auto;
    }

    .learner-container .lesson-container .lesson-details iframe {
        width: 100%;
    }

    .learner-assignment .assignment-container .date-container .fa {
        font-size: 35px;
    }

    .learner-dashboard-wrapper .webinar-wrapper .btn {
        left: 10px;
    }

    .learner-webinar-page .webinar-list-card .top-row,
    .learner-webinar-page .webinar-list-card .webinar-row {
        margin-left: 0;
        margin-right: 0;
    }

    .learner-webinar-page .webinar-list-card .webinar-row .webinar-card .hidden-container {
        height: 133px;
    }
    
}

@media only screen and (max-width: 768px) {
    .learner-assignment .assignment-container .date-container .fa {
        font-size: 45px;
    }

    .learner-assignment .finish-assignment-wrapper,
    .learner-assignment .group-list-wrapper {
        margin-top: 30px;
    }

    .learner-upgrade .right-container {
        margin-top: 30px;
    }

    .learner-dashboard-wrapper .right-container {
        margin-top: 20px;
    }

    .learner-manuscript-wrapper .manuscript-taken-row .button-container .blue-outline-btn,
    .learner-manuscript-wrapper .manuscript-taken-row .button-container .blue-btn {
        margin-top: 5px;
    }

    .learner-webinar-page .webinar-list-card .top-row {
        margin-bottom: 0;
    }

    .learner-webinar-page .webinar-list-card .webinar-row {
        margin-top: 0;
    }

    .learner-webinar-page .webinar-list-card .webinar-row [class^="col-"] {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .dashboard-last-container {
        padding-left: 0;
        padding-right: 0;
    }

    .learner-container .lesson-container .right-container {
        margin-top: 30px;
    }

    .learner-assignment .assignment-container .date-container .fa {
        margin-bottom: 10px;
    }

    .learner-assignment .assignment-container .date-container .pl-0 {
        padding-left: 15px !important;
    }

    .learner-assignment .assignment-container .date-container {
        margin-bottom: 20px;
    }

    .learner-assignment .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .learner-dashboard-wrapper .course-item h3 {
        margin-top: 15px;
    }

    .learner-dashboard-wrapper .calendar-item {
        padding: 10px 15px;
    }

    .learner-dashboard-wrapper .calendar-item:last-child {
        margin-bottom: 20px;
    }

    .learner-dashboard-wrapper .calendar-item .date-container {
        margin-bottom: 10px;
    }

    .learner-dashboard-wrapper .free-course-row {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .learner-dashboard-wrapper .free-course-row b {
        margin-top: 10px;
        display: block;
    }

    .learner-dashboard-wrapper .webinar-wrapper {
        background-color: transparent;
        padding: 0;
    }

    .learner-dashboard-wrapper .webinar-wrapper .card-body p {
        text-align: center;
    }

    .learner-dashboard-wrapper .webinar-wrapper .btn {
        width: 95% !important;
    }

    .learner-course-wrapper .course-item h3,
    .learner-course-wrapper .former-courses-wrapper {
        margin-top: 20px;
    }

    .learner-manuscript-wrapper .manuscript-taken-row {
        padding-bottom: 0;
    }

    .learner-manuscript-wrapper .manuscript-taken-row .global-card {
        margin-bottom: 20px;
    }

    .learner-webinar-page .webinar-list-card .webinar-row .webinar-card .date {
        text-align: center;
    }

    .learner-course-webinar-page iframe {
        height: 100% !important;
    }
}

/* for 425 screen */
@media only screen and (max-width: 426px) {
    .learner-container .lesson-container .previous-lesson-link,
    .learner-container .lesson-container .next-lesson-link {
        max-width: 350px;
        white-space: normal;
    }

    .learner-assignment .group-assignment-wrapper .group-learner-feedback-wrapper .title-container .w-25 {
        width: auto !important;
    }

    .divider-center-text::before {
        left: 0;
    }

    .divider-center-text:after {
        right: 0;
    }

    .learner-dashboard-wrapper .webinar-wrapper .btn {
        left: 20px;
        width: 89% !important;
    }

    .learner-webinar-page .replay-card table .red-outline-btn {
        display: block;
    }

    .learner-course-webinar-page .first-search {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 415px) {
    .learner-assignment .col-sm-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .learner-container .lesson-container .previous-lesson-link,
    .learner-container .lesson-container .next-lesson-link {
        max-width: 320px;
    }

    .learner-assignment .assignment-container .date-container .fa {
        font-size: 35px;
    }

    .learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .title-container {
        display: block;
    }

    .learner-assignment .group-assignment-wrapper .group-learner-list-wrapper .title-container span {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }

    .learner-assignment .group-assignment-wrapper .group-learner-feedback-wrapper .title-container .w-25 {
        margin-top: 10px;
        width: 100% !important;
    }

    .redeem-gift-link img {
        width: 33px;
    }
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
    .learner-assignment .group-assignment-wrapper .group-learner-list-wrapper {
        overflow: auto;
    }

    .learner-dashboard-wrapper .webinar-wrapper .btn {
        width: 85% !important;
    }

    .redeem-gift-link {
        margin-right: 0;
    }
}