@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --primary-color: #5F0000;
    --secondary-color: #5D7285;
    --box-shadow-style: 0 4px 4px 0 rgb(0,0,0,25%);
    --secondary-red: #852635;
    --white: #ffffff;
    --black: #000000;
}

* {
    font-family: 'Inter';
}

body:not(.modal-open) {
    padding-right: 0 !important;
}

#sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow-style);
    overflow-x: auto;
    padding: 30px;
    transition: all 0.3s ease;
    z-index: 9;
}

#sidebarCollapse {
    color: var(--white);
    background: none;
    border: none;
}

#sidebar .navbar-brand {
    margin-bottom: 20px;
    padding: .3125rem 0;
}

#sidebar .navbar-brand svg {
    height: 34px;
    width: 34px;
}

#sidebar .navbar-brand span {
    font-size: 14px;
    font-weight: bold;
    line-height: 3.625rem;
}

#sidebar ul {
    width: 100%;
}

#sidebar ul > li {
    width: 100%;
}

#sidebar ul > li a,
#sidebar .learner-details-container {
    color: var(--secondary-color);
    font-family: 'Poppins';
    font-size: 14px;
}

#sidebar ul > li a:hover,
#sidebar ul > li.active a {
    background-color: #EFF2F4;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
}

#sidebar ul > li a > .fa,
#sidebar ul > li a > .fab {
    color: var(--secondary-color);
    font-size: 20px;
    margin-right: 10px;
    width: 22px; /* just to make the fa icon same width */
}

#sidebar ul > li.active a > .fa,
#sidebar ul > li.active a > .fab,
#sidebar ul > li a:hover > .fa,
#sidebar ul > li a:hover > .fab {
    color: var(--primary-color);
}

#sidebar .learner-details-container {
    font-size: 18px;
    margin-top: 30px;
}

#sidebar .icons-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#sidebar .icons-container a {
    background-color: #f5f7fa;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
    padding: 10px 15px;
}

#sidebar .portal-btn {
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    color: var(--primary-color);
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
}

#sidebar .portal-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

#sidebar .logout-btn {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
}

#sidebar .logout-btn i {
    margin-right: 10px;
}

#sidebar .logout-btn:hover {
    background-color: #5f0000c2;
}

#main-container.enlarge {
    margin-left: 300px; /* Adjust this value to match the width of the sidebar */
}

#topbar {
    box-shadow: var(--box-shadow-style);
    color: #fff;
    height: 100px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar * {
    color: var(--secondary-color);
}

#user-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

#main-content {
    background-color: #f3f5f7;
}

/* course lesson page */
.learner-container .lesson-container h1 {
    font-weight: bold;
}

.learner-container .lesson-container .course-link {
    color: rgb(0, 0, 0, 66%);
    display: inline-block;
    margin-top: 20px;
}

.learner-container .lesson-container .previous-lesson-link {
    color: var(--black);
    font-weight: bold;
}

.learner-container .lesson-container .previous-lesson-link:hover {
    border-bottom: 2px solid var(--black);
}

.learner-container .lesson-container .previous-lesson-link .fa {
    color: var(--black);
}

.learner-container .lesson-container .next-lesson-link {
    color: var(--white);
    font-weight: bold;
    background-color: var(--secondary-red);
    border-radius: 5px;
    padding: 5px 10px;
}

.learner-container .lesson-container .next-lesson-link:hover {
    text-decoration: underline;
}

.learner-container .lesson-container .lesson-title {
    margin-top: 20px;
}

.learner-container .lesson-container .lesson-details-row {
    margin-top: 20px;
}

.learner-container .lesson-container .lesson-details {
    background-color: var(--white);
    box-shadow: var(--box-shadow-style);
    padding: 15px;
}

.learner-container .lesson-container .lesson-details ul {
    position: relative;
}

.learner-container .lesson-container .lesson-details ul > li::marker {
    content: "";
}

.learner-container .lesson-container .lesson-details ul > li::before {
    content: "";
    background-image: url(../images-new/icon/check-circle-red.png);
    height: 24px;
    width: 24px;
    position: absolute;
    left: 10px;
}

.learner-container .lesson-container .lesson-details table {
    width: 100% !important;
}

.learner-container .lesson-container .lesson-details .timeline {
    padding-bottom: 1.5rem;
    border-left: 3px solid maroon;
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
}

.learner-container .lesson-container .lesson-details .timeline:not(:first-of-type) {
    padding-top: 20px;
}

.learner-container .lesson-container .lesson-details .timeline::before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid maroon;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.learner-container .lesson-container .lesson-details .timeline:last-of-type {
    border: 0px;
    padding-bottom: 0;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.17);
    display: flex; /* Use flexbox to align elements in a row */
    align-items: center; /* Vertically center the elements */
    padding: 20px;
    overflow: auto;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details img {
    width: 190px;
    margin-right: 20px;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details table td {
    padding: 10px;
}

.learner-container .lesson-container .lesson-details .timeline .timeline-details table .table-header {
    color: #B3B3B3;
}

.learner-container .lesson-container .right-container {
    background-color: var(--white);
    max-height: 90vh;
    padding: 25px 15px;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.learner-container .lesson-container .right-container h2 {
    color: #1D2026;
    font-weight: bold;
}

.learner-container .lesson-container .right-container .download-lesson-btn {
    border: 1px solid var(--secondary-red);
    border-radius: 5px;
    display: inline-block;
    color: var(--secondary-red);
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.learner-container .lesson-container .right-container .download-lesson-btn .fa {
    color: var(--secondary-red);
    margin-right: 10px;
}

.learner-container .lesson-container .right-container .download-lesson-btn:hover {
    background-color: var(--secondary-red);
    color: var(--white);
    text-decoration: none;
}

.learner-container .lesson-container .right-container .download-lesson-btn:hover .fa {
    color: var(--white);
}

.learner-container .lesson-container .right-container .download-file-btn {
    color: var(--primary-color);
    display: inline-block;
    margin-top: 10px;
}

.learner-container .lesson-container .right-container .download-file-btn .fa {
    color: var(--primary-color);
    margin-right: 10px;
}

.learner-container .lesson-container .right-container .lesson-text-title {
    margin-top: 30px;
}

.learner-container .lesson-container .right-container .lesson-list-container {
    margin-top: 10px;
}

.learner-container .lesson-container .right-container .lesson-list-container a {
    display: block;
    color: #1D2026;
    padding: 10px 5px;
}

.learner-container .lesson-container .right-container .lesson-list-container a > span {
    background-color: #FFE1E1;
    color: #690000;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px 5px;
}

.learner-container .lesson-container .right-container .lesson-list-container a.current,
.learner-container .lesson-container .right-container .lesson-list-container a.active:hover {
    background-color: #EEF1F3;
    border-radius: 5px;
    text-decoration: none;
}

.learner-container .lesson-container .right-container .lesson-list-container a.inactive {
    cursor: not-allowed;
    opacity: .5;
}

.learner-container .lesson-container .right-container .lesson-list-container a.inactive:hover {
    text-decoration: none;
}

.learner-container .lesson-container .scroll-top {
    background-color: var(--secondary-red) !important;
}

.learner-assignment .nav-tabs > li > a {
    color: #75777A;
    font-weight: bold;
    font-size: 16px;
}

.learner-assignment .nav-tabs > li.active > a,
.learner-assignment .nav-tabs > li.active > a:hover,
.learner-assignment .nav-tabs > li > a:hover {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #E83A47;
    color: var(--black);
}

.learner-assignment .col-sm-12 {
    padding: 0;
}

.learner-assignment .assignment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
}

.learner-assignment .assignment-container .date-container {
    background-color: #610000;
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.learner-assignment .assignment-container .date-container p,
.learner-assignment .assignment-container .date-container h3 {
    font-size: 20px;
}

.learner-assignment .assignment-container .date-container .fa {
    color: var(--white);
    font-size: 45px;
}

.learner-assignment .assignment-container h2 {
    font-weight: bold;
}

.learner-assignment .assignment-container .max-word-container {
    background-color: #FFEEE8;
    color: #A60000;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

.learner-assignment .assignment-container .description-container {
    margin-top: 20px;
}

.learner-assignment .assignment-container .manuscript-container {
    display: flex;
    background-color: #FFFCEC;
    margin-top: 30px;
    padding: 10px 0;
}

.learner-assignment .assignment-container .manuscript-container a {
    font-weight: bold;
}

.learner-assignment .assignment-container .manuscript-container .button-container {
    text-align: center;
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-info,
.learner-assignment .assignment-container .manuscript-container .button-container .btn-danger {
    background-color: transparent;
    border: none;
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-info .fa {
    color: #00477B;
}

.learner-assignment .assignment-container .manuscript-container .button-container .btn-danger .fa {
    color: #A60000;
}

.learner-assignment .assignment-container .manuscript-container .button-container .fa-eye {
    color: #00477B;
}

.learner-assignment .assignment-container .bottom-container {
    border-top: 1px solid #EFEFEF;
    margin-top: 30px;
    padding-top: 10px;
}

.learner-assignment .assignment-container .bottom-container p {
    font-size: 13px;
}

.red-outline-btn {
    background-color: transparent;
    border: 1px solid #610000;
    border-radius: 10px;
    color: #610000;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.red-outline-btn:hover {
    background-color: #610000;
    color: var(--white);
}

.learner-assignment .upcoming-assignment-container {
    background-color: var(--white);
    border: 1px solid #959595;
    border-radius: 10px;
    box-shadow: var(--box-shadow-style);
    margin-top: 40px;
    padding: 40px 30px;
}

.learner-assignment .upcoming-assignment-container h2 {
    border-bottom: 1px solid #D9D9D9;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

.learner-assignment .upcoming-assignment-container .upcoming-assignment-list {
    border-bottom: 1px solid #D9D9D9;
    padding: 30px 0 20px;
}

#submitEditorManuscriptModal .file-upload,
#submitManuscriptModal .file-upload,
#editManuscriptModal .file-upload {
    background-color: #F8F8FF;
    border-radius: 0.25rem;
    border: 1px dashed rgba(56, 78, 183, 0.30);
    flex-direction: column;
    margin-top: 0;
    padding: 50px;
}

#submitEditorManuscriptModal .file-upload .fa,
#submitManuscriptModal .file-upload .fa,
#editManuscriptModal .file-upload .fa {
    font-size: 30px;
    margin-bottom: 20px;
}

#submitEditorManuscriptModal .file-label,
#submitManuscriptModal .file-label,
#editManuscriptModal .file-label {
    color: #676767;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

#submitEditorManuscriptModal .file-upload-text,
#submitManuscriptModal .file-upload-text,
#editManuscriptModal .file-upload-text {
    font-weight: bold;
}

.custom-radio [type=radio]:checked+label {
    color: var(--primary-color);
}

.custom-radio [type=radio]:checked+label, 
.custom-radio [type=radio]:not(:checked)+label {
    color: #6E7485;
    font-family: 'Inter';
    font-weight: normal;
}

.custom-radio [type=radio]:checked+label:before {
    border: 1.5px solid var(--primary-color);
}

.custom-radio [type=radio]:checked+label:after {
    background: var(--primary-color);
}

.toggle-on.btn-primary {
    background-color: #5F0000 !important;
}

.learner-assignment .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
}
/* end course lesson page */

.new-global-modal .modal-content {
    border-radius: 10px;
}

.new-global-modal .modal-header {
    padding: 20px;
}

.new-global-modal .modal-header .modal-title {
    font-size: 18px;
}

.new-global-modal .modal-header .close {
    font-size: 28px;
}

.new-global-modal .modal-body {
    padding: 20px;
}

.new-global-modal .submit-btn {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 8px;
    font-size: 16px;
    min-width: 250px;
    padding: 10px;
}

.new-global-modal .submit-btn:hover {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important;
}

@media only screen and (max-width: 1024px) {
    #main-container.enlarge {
        margin-left: 0;
    }

    .global-card .card-body {
        overflow-x: auto;
    }

    .dashboard-last-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .learner-container .lesson-container .lesson-details {
        overflow: auto;
    }

    .learner-container .lesson-container .lesson-details iframe {
        width: 100%;
    }

    .learner-assignment .assignment-container .date-container .fa {
        font-size: 35px;
    }
    
}

@media only screen and (max-width: 768px) {
    .learner-assignment .assignment-container .date-container .fa {
        font-size: 45px;
    }
}

@media only screen and (max-width: 640px) {
    .dashboard-last-container {
        padding-left: 0;
        padding-right: 0;
    }

    .learner-container .lesson-container .right-container {
        margin-top: 30px;
    }

    .learner-assignment .assignment-container .date-container .fa {
        margin-bottom: 10px;
    }

    .learner-assignment .assignment-container .date-container .pl-0 {
        padding-left: 15px !important;
    }

    .learner-assignment .assignment-container .date-container {
        margin-bottom: 20px;
    }

    .learner-assignment .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

/* for 425 screen */
@media only screen and (max-width: 426px) {
    .learner-container .lesson-container .previous-lesson-link,
    .learner-container .lesson-container .next-lesson-link {
        max-width: 350px;
        white-space: normal;
    }
}

@media only screen and (max-width: 415px) {
    .learner-assignment .col-sm-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .learner-container .lesson-container .previous-lesson-link,
    .learner-container .lesson-container .next-lesson-link {
        max-width: 320px;
    }

    .learner-assignment .assignment-container .date-container .fa {
        font-size: 35px;
    }
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}